flows.json
[{"id":"1d7783c5.5e966c","type":"tab","label":"JSON-REDIS-SECOND","disabled":false,"info":"A simple API implementation for JSON data transformation.\nJSON data is stored in Redis Database."},{"id":"cff82870.422c38","type":"http in","z":"1d7783c5.5e966c","name":"","url":"/patient/:ptId/allergies/:sourceId","method":"get","upload":false,"swaggerDoc":"","x":160,"y":180,"wires":[["bf5379cd.057e08"]]},{"id":"bf5379cd.057e08","type":"change","z":"1d7783c5.5e966c","name":"GetParams","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"ptId\": msg.req.params.ptId,\t    \"datatype\": \"allergies\",\t    \"sourceId\": msg.req.params.sourceId,\t    \"transform\": msg.req.query.transform\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":180,"wires":[["78bdf0c8.9457b","545d45cc.f9381c"]]},{"id":"a3e80da6.e2e0b","type":"redis-command","z":"1d7783c5.5e966c","server":"96c915d5.772fa8","command":"hget","name":"","topic":"","x":890,"y":160,"wires":[["e901d2f3.e0152"]]},{"id":"78bdf0c8.9457b","type":"function","z":"1d7783c5.5e966c","name":"Redis HGET params","func":"payload = msg.payload\nmsg.payload = [payload.ptId+'.'+payload.datatype, payload.sourceId];\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":160,"wires":[["a3e80da6.e2e0b"]]},{"id":"ace6b6ef.b965a8","type":"json","z":"1d7783c5.5e966c","name":"Database JSON","property":"payload","action":"","pretty":true,"x":900,"y":220,"wires":[["cac16d9e.9f839"]]},{"id":"e3d2de6f.3011b","type":"http response","z":"1d7783c5.5e966c","name":"GET Success","statusCode":"","headers":{},"x":1700,"y":280,"wires":[]},{"id":"51a9083d.e8e528","type":"http response","z":"1d7783c5.5e966c","name":"Create Success","statusCode":"","headers":{},"x":1700,"y":80,"wires":[]},{"id":"545d45cc.f9381c","type":"function","z":"1d7783c5.5e966c","name":"Transform method","func":"msg.payload = {transform: msg.payload.transform ? msg.payload.transform : ''};\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":280,"wires":[["cac16d9e.9f839"]]},{"id":"cac16d9e.9f839","type":"join","z":"1d7783c5.5e966c","name":"Add transform method","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":920,"y":280,"wires":[["1f592904.6b4327"]]},{"id":"1f592904.6b4327","type":"switch","z":"1d7783c5.5e966c","name":"Transform Switch","property":"payload.transform","propertyType":"msg","rules":[{"t":"eq","v":"TransformA-Allergy-UI2openEHR","vt":"str"},{"t":"eq","v":"TransformB-Allergy-UI2FHIR","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":1150,"y":280,"wires":[["fc06f253.41b11"],["be3bd6bb.0abd18"],["a0347aee.1efff8"]]},{"id":"fc06f253.41b11","type":"change","z":"1d7783c5.5e966c","name":"TransformA-Allergy-UI2openEHR","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"allergies_and_adverse_reactions\": {\t      \"adverse_reaction_risk\": {\t        \"causative_agent\": {\t          \"value\": msg.payload.cause,\t          \"code\": msg.payload.causeCode,\t          \"terminology\": msg.payload.causeTerminology\t        },\t        \"reaction_details\": {\t          \"manifestation\": {\t            \"code\": msg.payload.terminologyCode,\t            \"value\": msg.payload.reaction\t          }\t        }\t      }\t    },\t    \"composer\": {\t      \"value\": msg.payload.author\t    },\t    \"start_time\": $fromMillis(msg.payload.dateCreated),\t    \"host\": msg.payload.source,\t    \"uid\": msg.payload.sourceId,\t    \"patientId\": msg.payload.patientId\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":240,"wires":[["e3d2de6f.3011b"]]},{"id":"be3bd6bb.0abd18","type":"change","z":"1d7783c5.5e966c","name":"TransformB-Allergy-UI2FHIR","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"resourceType\": \"AllergyIntolerance\",\t    \"identifier\": [\t      {\t        \"system\": msg.payload.source,\t        \"value\": msg.payload.sourceId\t      }\t    ],\t    \"onset\": $fromMillis(msg.payload.dateCreated),\t    \"recordedDate\": $fromMillis(msg.payload.dateCreated),\t    \"recorder\": {\t      \"reference\": \"GMC Doctor\",\t      \"display\": msg.payload.author\t    },\t    \"patient\": {\t      \"reference\": \"=> fhirReference(patientId, 'Patient', false)\",\t      \"display\": \"{{patientName}}\"\t    },\t    \"substance\": {\t      \"coding\": [\t        {\t          \"system\": msg.payload.causeCode,\t          \"code\": msg.payload.causeTerminology,\t          \"display\": msg.payload.cause\t        }\t      ]\t    },\t    \"status\": \"active\",\t    \"type\": \"allergy\",\t    \"category\": \"other\",\t    \"reaction\": [\t      {\t        \"substance\": {\t          \"coding\": [\t            {\t              \"system\": msg.payload.causeCode,\t              \"code\": msg.payload.causeTerminology,\t              \"display\": msg.payload.cause\t            }\t          ],\t          \"text\": msg.payload.ause\t        },\t        \"certainty\": \"confirmed\",\t        \"manifestation\": [\t          {\t            \"coding\": [\t              {\t                \"system\": msg.payload.terminologyCode,\t                \"code\": \"TBC\",\t                \"display\": msg.payload.reaction\t              }\t            ],\t            \"text\": msg.payload.reaction\t          }\t        ],\t        \"description\": msg.payload.reaction\t      }\t    ],\t    \"note\": msg.payload.reaction\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1420,"y":280,"wires":[["e3d2de6f.3011b"]]},{"id":"e51da94e.5c3b78","type":"http in","z":"1d7783c5.5e966c","name":"","url":"/patient/:ptId/problems/:sourceId","method":"get","upload":false,"swaggerDoc":"","x":170,"y":260,"wires":[["4a44a023.7ba05"]]},{"id":"4a44a023.7ba05","type":"change","z":"1d7783c5.5e966c","name":"GetParams","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"ptId\": msg.req.params.ptId,\t    \"datatype\": \"problems\",\t    \"sourceId\": msg.req.params.sourceId,\t    \"transform\": msg.req.query.transform\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":260,"wires":[["78bdf0c8.9457b","545d45cc.f9381c"]]},{"id":"e63ae092.e141a","type":"http in","z":"1d7783c5.5e966c","name":"","url":"/patient/:ptId/medications/:sourceId","method":"get","upload":false,"swaggerDoc":"","x":170,"y":220,"wires":[["30d16b3a.2e29a4"]]},{"id":"30d16b3a.2e29a4","type":"change","z":"1d7783c5.5e966c","name":"GetParams","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"ptId\": msg.req.params.ptId,\t    \"datatype\": \"medications\",\t    \"sourceId\": msg.req.params.sourceId,\t    \"transform\": msg.req.query.transform\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":220,"wires":[["78bdf0c8.9457b","545d45cc.f9381c"]]},{"id":"a0347aee.1efff8","type":"function","z":"1d7783c5.5e966c","name":"No Transform","func":"msg.payload = msg.payload;\ndelete msg.payload.transform;\nreturn msg;","outputs":1,"noerr":0,"x":1380,"y":320,"wires":[["e3d2de6f.3011b"]]},{"id":"e901d2f3.e0152","type":"switch","z":"1d7783c5.5e966c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":160,"wires":[["4f3665ca.1e739c"],["ace6b6ef.b965a8"]]},{"id":"4645c81f.9a4378","type":"http response","z":"1d7783c5.5e966c","name":"GET Data Error","statusCode":"400","headers":{},"x":1700,"y":153,"wires":[]},{"id":"bce1ec27.8e61","type":"inject","z":"1d7783c5.5e966c","name":"Create Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":960,"wires":[["e18fd036.75831"]]},{"id":"e18fd036.75831","type":"function","z":"1d7783c5.5e966c","name":"Generate Data for Create","func":"datatypes = [\"allergies\", \"medications\", \"problems\"];\ntype = Math.floor(Math.random() * 3);\ntimestamp = msg.payload;\n\nmsg.payload = {\n    ptId: 9999999001,\n    datatype: datatypes[type]\n}\n\nswitch(type) {\n    case 0:\n        msg.payload.data = {\n            author: \"Robert Tweed\",\n            cause: \"cats\",\n            causeCode: \"cats\",\n            causeTerminology: \"cats\",\n            dateCreated: timestamp,\n            reaction: \"cats\",\n            originalComposition: \"\",\n            originalSource: \"\",\n            terminologyCode: \"\",\n        };\n        break;\n    case 1:\n        msg.payload.data = {\n            author: \"Robert Tweed\",\n            dateCreated: timestamp,\n            doseAmount: \"20 mg\",\n            doseDirections: \"20 mg\",\n            doseTiming: \"1 per day\",\n            medicationCode: \"test\",\n            name: \"Paracetomol\",\n            route: \"Po Per Oral\",\n            startDate: \"2019-06-12\",\n            startTime: \"2019-06-15\",\n        }\n        break;\n    case 2:\n        msg.payload.data = {\n            author: \"Robert Tweed\",\n            code: \"test\",\n            dateCreated: timestamp,\n            dateOfOnset: \"2019-06-11\",\n            description: \"test\",\n            problem: \"Asthma\",\n            terminology: \"test\",\n            originalComposition: \"\",\n            originalSource: \"\",\n        }\n        break;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":960,"wires":[["5e9096cb.7ae7d8"]]},{"id":"da73e70e.617738","type":"http request","z":"1d7783c5.5e966c","name":"Create Request","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":1060,"y":960,"wires":[["5967b01a.a5a46"]]},{"id":"5e9096cb.7ae7d8","type":"change","z":"1d7783c5.5e966c","name":"Create API Route","rules":[{"t":"set","p":"url","pt":"msg","to":"'http://172.17.0.2:1880/patient/'&msg.payload.ptId&'/'&msg.payload.datatype","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":960,"wires":[["b7f54066.74f24"]]},{"id":"b7f54066.74f24","type":"change","z":"1d7783c5.5e966c","name":"Method is POST","rules":[{"t":"set","p":"method","pt":"msg","to":"POST","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":960,"wires":[["da73e70e.617738"]]},{"id":"72b68938.339f78","type":"http in","z":"1d7783c5.5e966c","name":"","url":"/patient/:ptId/allergies","method":"post","upload":false,"swaggerDoc":"","x":140,"y":40,"wires":[["5e5a1936.d50b98"]]},{"id":"5e5a1936.d50b98","type":"change","z":"1d7783c5.5e966c","name":"PostParams","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"ptId\": msg.req.params.ptId,\t    \"datatype\": \"allergies\",\t    \"data\": msg.req.body.data\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":40,"wires":[["a8010b34.53a228"]]},{"id":"68e04488.b0a58c","type":"change","z":"1d7783c5.5e966c","name":"PostParams","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"ptId\": msg.req.params.ptId,\t    \"datatype\": \"medications\",\t    \"data\": msg.req.body.data\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":80,"wires":[["a8010b34.53a228"]]},{"id":"3ddec017.8b2f1","type":"http in","z":"1d7783c5.5e966c","name":"","url":"/patient/:ptId/medications","method":"post","upload":false,"swaggerDoc":"","x":150,"y":80,"wires":[["68e04488.b0a58c"]]},{"id":"8efd31b7.f8424","type":"change","z":"1d7783c5.5e966c","name":"PostParams","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"ptId\": msg.req.params.ptId,\t    \"datatype\": \"problems\",\t    \"data\": msg.req.body.data\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":121,"wires":[["a8010b34.53a228"]]},{"id":"6e2053ba.99d6fc","type":"http in","z":"1d7783c5.5e966c","name":"","url":"/patient/:ptId/problems","method":"post","upload":false,"swaggerDoc":"","x":140,"y":121,"wires":[["8efd31b7.f8424"]]},{"id":"a8010b34.53a228","type":"function","z":"1d7783c5.5e966c","name":"Add Source ID to Data","func":"newid = Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15);\nmsg.payload.data.id = newid;\nmsg.payload.data.sourceId = newid;\nmsg.payload.data.source = \"ethercis\";\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":80,"wires":[["131fd02a.62991"]]},{"id":"131fd02a.62991","type":"function","z":"1d7783c5.5e966c","name":"Redis HSET params","func":"payload = msg.payload;\nmsg.payload = [payload.ptId + '.' + payload.datatype, payload.data.sourceId, JSON.stringify(payload.data)];\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":80,"wires":[["26ad953c.3f79ba"]]},{"id":"26ad953c.3f79ba","type":"redis-command","z":"1d7783c5.5e966c","server":"96c915d5.772fa8","command":"hset","name":"","topic":"","x":1130,"y":80,"wires":[["3b99d21d.1b81de"]]},{"id":"3b99d21d.1b81de","type":"function","z":"1d7783c5.5e966c","name":"Result JSON","func":"msg.payload = {data: \"success\", msg: \"data created successfully\"};\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":80,"wires":[["51a9083d.e8e528"]]},{"id":"aa10533f.f55ee","type":"inject","z":"1d7783c5.5e966c","name":"Allergies Synopsis Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1100,"wires":[["6bd0fd98.eb7674"]]},{"id":"6bd0fd98.eb7674","type":"http request","z":"1d7783c5.5e966c","name":"GET Allergies Synopsis","method":"GET","ret":"txt","paytoqs":false,"url":"http://172.17.0.2:1880/patient/9999999001/synopsis/allergies","tls":"","proxy":"","authType":"basic","x":410,"y":1100,"wires":[["5967b01a.a5a46"]]},{"id":"3715d23f.7158ee","type":"inject","z":"1d7783c5.5e966c","name":"Allergy Data Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1240,"wires":[["65bd698a.6fa4a8"]]},{"id":"d8d9b2a.269ce5","type":"http request","z":"1d7783c5.5e966c","name":"GET Medicians Data","method":"GET","ret":"txt","paytoqs":false,"url":"http://172.17.0.2:1880/patient/9999999001/medications/0ndpc1dvqagapo0oui3num","tls":"","proxy":"","authType":"basic","x":400,"y":1280,"wires":[["5967b01a.a5a46"]]},{"id":"acda132c.d7b4d","type":"inject","z":"1d7783c5.5e966c","name":"Medications Data Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1280,"wires":[["d8d9b2a.269ce5"]]},{"id":"65bd698a.6fa4a8","type":"http request","z":"1d7783c5.5e966c","name":"GET Allergies Data","method":"GET","ret":"txt","paytoqs":false,"url":"http://172.17.0.2:1880/patient/9999999001/allergies/kq21alape7mtw7eupmrzua?transform=TransformB-Allergy-UI2FHIR","tls":"","proxy":"","authType":"basic","x":390,"y":1240,"wires":[["5967b01a.a5a46"]]},{"id":"5967b01a.a5a46","type":"json","z":"1d7783c5.5e966c","name":"Response Data JSON","property":"payload","action":"","pretty":false,"x":1380,"y":1160,"wires":[["2f9b04bf.06713c"]]},{"id":"2f9b04bf.06713c","type":"debug","z":"1d7783c5.5e966c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1610,"y":1160,"wires":[]},{"id":"9fe7de90.0663f","type":"http in","z":"1d7783c5.5e966c","name":"","url":"/patient/:ptId/allergies/:sourceId","method":"put","upload":false,"swaggerDoc":"","x":160,"y":400,"wires":[["b328abcf.0ffc88"]]},{"id":"a8e1ab74.493c68","type":"http in","z":"1d7783c5.5e966c","name":"","url":"/patient/:ptId/medications/:sourceId","method":"put","upload":false,"swaggerDoc":"","x":170,"y":440,"wires":[["127b3c49.765ea4"]]},{"id":"700d648e.a6084c","type":"http in","z":"1d7783c5.5e966c","name":"","url":"/patient/:ptId/problems/:sourceId","method":"put","upload":false,"swaggerDoc":"","x":170,"y":481,"wires":[["46322f3e.76e72"]]},{"id":"46322f3e.76e72","type":"change","z":"1d7783c5.5e966c","name":"PutParams","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"ptId\": msg.req.params.ptId,\t    \"datatype\": \"problems\",\t    \"sourceId\": msg.req.params.sourceId,\t    \"data\": msg.req.body.data\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":480,"wires":[["d0c7dbfa.d75698","e96530f8.5e447"]]},{"id":"127b3c49.765ea4","type":"change","z":"1d7783c5.5e966c","name":"PutParams","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"ptId\": msg.req.params.ptId,\t    \"datatype\": \"medications\",\t    \"sourceId\": msg.req.params.sourceId,\t    \"data\": msg.req.body.data\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":440,"wires":[["d0c7dbfa.d75698","e96530f8.5e447"]]},{"id":"b328abcf.0ffc88","type":"change","z":"1d7783c5.5e966c","name":"PutParams","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"ptId\": msg.req.params.ptId,\t    \"datatype\": \"allergies\",\t    \"sourceId\": msg.req.params.sourceId,\t    \"data\": msg.req.body.data\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":400,"wires":[["d0c7dbfa.d75698","e96530f8.5e447"]]},{"id":"a39837af.76fce8","type":"function","z":"1d7783c5.5e966c","name":"Redis HSET params","func":"payload = msg.payload;\nmsg.payload = [payload.ptId + '.' + payload.datatype, payload.sourceId, JSON.stringify(payload.data)];\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":480,"wires":[["87e79441.d20978"]]},{"id":"87e79441.d20978","type":"redis-command","z":"1d7783c5.5e966c","server":"96c915d5.772fa8","command":"hset","name":"","topic":"","x":1150,"y":480,"wires":[["b6c9410e.44a0e"]]},{"id":"b6c9410e.44a0e","type":"function","z":"1d7783c5.5e966c","name":"Result JSON","func":"msg.payload = {data: \"success\", msg: \"data updated successfully\"};\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":480,"wires":[["d4517d0d.51b0c"]]},{"id":"d4517d0d.51b0c","type":"http response","z":"1d7783c5.5e966c","name":"Update Success","statusCode":"","headers":{},"x":1700,"y":480,"wires":[]},{"id":"ce8f580f.46a208","type":"http request","z":"1d7783c5.5e966c","name":"Update Request","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":1060,"y":1000,"wires":[["5967b01a.a5a46"]]},{"id":"dbab4563.302938","type":"change","z":"1d7783c5.5e966c","name":"Method is PUT","rules":[{"t":"set","p":"method","pt":"msg","to":"PUT","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":1000,"wires":[["ce8f580f.46a208"]]},{"id":"c31fbfac.b431","type":"change","z":"1d7783c5.5e966c","name":"Update API Route","rules":[{"t":"set","p":"url","pt":"msg","to":"'http://172.17.0.2:1880/patient/'&msg.payload.ptId&'/'&msg.payload.datatype&'/'&msg.payload.data.sourceId","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":1000,"wires":[["dbab4563.302938"]]},{"id":"1be12a07.8fd816","type":"function","z":"1d7783c5.5e966c","name":"Generate Data for Update","func":"msg.payload = {\n    ptId: 9999999001,\n    datatype: 'allergies',\n    data: {\n        author: \"Not known\",\n        cause: \"Adverse reaction to aspirin\",\n        causeCode: \"http://snomed.info/sct\",\n        causeTerminology: 292044008,\n        dateCreated: 1181170800000,\n        id: \"kq21alape7mtw7eupmrzua\",\n        originalComposition: \"\",\n        originalSource: \"\",\n        reaction: \"Adverse reaction to aspirin\",\n        source: \"ethercis\",\n        sourceId: \"kq21alape7mtw7eupmrzua\",\n        terminologyCode: \"http://snomed.info/sct\"\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":1000,"wires":[["c31fbfac.b431"]]},{"id":"475441e8.1b20e","type":"inject","z":"1d7783c5.5e966c","name":"Update Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1000,"wires":[["1be12a07.8fd816"]]},{"id":"f47fbf3d.7e4b6","type":"http in","z":"1d7783c5.5e966c","name":"","url":"/patient/:ptId/allergies/:sourceId","method":"delete","upload":false,"swaggerDoc":"","x":170,"y":540,"wires":[["29c5ba43.b03856"]]},{"id":"1894e13a.1d1b2f","type":"http in","z":"1d7783c5.5e966c","name":"","url":"/patient/:ptId/medications/:sourceId","method":"delete","upload":false,"swaggerDoc":"","x":180,"y":580,"wires":[["852a07fb.15a828"]]},{"id":"f5e41432.289468","type":"http in","z":"1d7783c5.5e966c","name":"","url":"/patient/:ptId/problems/:sourceId","method":"delete","upload":false,"swaggerDoc":"","x":170,"y":621,"wires":[["8d8346c2.5a0748"]]},{"id":"8d8346c2.5a0748","type":"change","z":"1d7783c5.5e966c","name":"DeleteParams","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"ptId\": msg.req.params.ptId,\t    \"datatype\": \"problems\",\t    \"sourceId\": msg.req.params.sourceId\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":620,"wires":[["5829bbea.347694"]]},{"id":"852a07fb.15a828","type":"change","z":"1d7783c5.5e966c","name":"DeleteParams","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"ptId\": msg.req.params.ptId,\t    \"datatype\": \"medications\",\t    \"sourceId\": msg.req.params.sourceId\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":580,"wires":[["5829bbea.347694"]]},{"id":"29c5ba43.b03856","type":"change","z":"1d7783c5.5e966c","name":"DeleteParams","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"ptId\": msg.req.params.ptId,\t    \"datatype\": \"allergies\",\t    \"sourceId\": msg.req.params.sourceId\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":540,"wires":[["5829bbea.347694"]]},{"id":"5829bbea.347694","type":"function","z":"1d7783c5.5e966c","name":"Redis HDEL params","func":"payload = msg.payload;\nmsg.payload = [payload.ptId + '.' + payload.datatype, payload.sourceId];\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":580,"wires":[["92a473c6.fdf0a"]]},{"id":"92a473c6.fdf0a","type":"redis-command","z":"1d7783c5.5e966c","server":"96c915d5.772fa8","command":"hdel","name":"","topic":"","x":910,"y":580,"wires":[["b61d41f2.246f6"]]},{"id":"3256b818.40d938","type":"function","z":"1d7783c5.5e966c","name":"Result JSON","func":"msg.payload = {data: \"success\", msg: \"data deleted successfully\"};\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":560,"wires":[["997ece3f.3e329"]]},{"id":"997ece3f.3e329","type":"http response","z":"1d7783c5.5e966c","name":"Delete Success","statusCode":"","headers":{},"x":1700,"y":560,"wires":[]},{"id":"b61d41f2.246f6","type":"switch","z":"1d7783c5.5e966c","name":"Check the Result","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1130,"y":580,"wires":[["3256b818.40d938"],["e95934af.b85f18"]]},{"id":"e95934af.b85f18","type":"function","z":"1d7783c5.5e966c","name":"Result JSON","func":"msg.payload = {data: \"fail\", msg: \"cannot delete data\"};\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":600,"wires":[["41987a33.d6a4e4"]]},{"id":"41987a33.d6a4e4","type":"http response","z":"1d7783c5.5e966c","name":"Delete Error","statusCode":"400","headers":{},"x":1690,"y":600,"wires":[]},{"id":"4e21e8ee.cb76b8","type":"http in","z":"1d7783c5.5e966c","name":"","url":"/patient/:ptId/synopsis/allergies/","method":"get","upload":false,"swaggerDoc":"","x":160,"y":686,"wires":[["8e2c086d.a0e3d8"]]},{"id":"8e2c086d.a0e3d8","type":"change","z":"1d7783c5.5e966c","name":"GetParams","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"ptId\": msg.req.params.ptId,\t    \"datatype\": \"allergies\"\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":686,"wires":[["6c1e0b4b.c81a74","f2ea8458.b84c28","c81747c9.a5ab18"]]},{"id":"990e394.31357c8","type":"http in","z":"1d7783c5.5e966c","name":"","url":"/patient/:ptId/synopsis/problems","method":"get","upload":false,"swaggerDoc":"","x":160,"y":766,"wires":[["8b949818.c4cbd8"]]},{"id":"8b949818.c4cbd8","type":"change","z":"1d7783c5.5e966c","name":"GetParams","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"ptId\": msg.req.params.ptId,\t    \"datatype\": \"problems\"\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":766,"wires":[["6c1e0b4b.c81a74","f2ea8458.b84c28","c81747c9.a5ab18"]]},{"id":"a38b9043.7bca4","type":"http in","z":"1d7783c5.5e966c","name":"","url":"/patient/:ptId/synopsis/medications","method":"get","upload":false,"swaggerDoc":"","x":170,"y":726,"wires":[["ff3eebae.44b0b8"]]},{"id":"ff3eebae.44b0b8","type":"change","z":"1d7783c5.5e966c","name":"GetParams","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"ptId\": msg.req.params.ptId,\t    \"datatype\": \"medications\"\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":726,"wires":[["6c1e0b4b.c81a74","f2ea8458.b84c28","c81747c9.a5ab18"]]},{"id":"6c1e0b4b.c81a74","type":"function","z":"1d7783c5.5e966c","name":"Redis HKEYS params","func":"payload = msg.payload;\nmsg.payload = [payload.ptId + '.' + payload.datatype];\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":686,"wires":[["31584d36.fa1412"]]},{"id":"31584d36.fa1412","type":"redis-command","z":"1d7783c5.5e966c","server":"96c915d5.772fa8","command":"hkeys","name":"","topic":"","x":910,"y":686,"wires":[["f5114c80.11398"]]},{"id":"f2ea8458.b84c28","type":"join","z":"1d7783c5.5e966c","name":"JOIN Keys Data","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":760,"y":766,"wires":[["b89f99cb.04d858"]]},{"id":"15b1a0d4.9f014f","type":"change","z":"1d7783c5.5e966c","name":"Keys JSON","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"keys\":msg.payload\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":706,"wires":[["f2ea8458.b84c28"]]},{"id":"b89f99cb.04d858","type":"function","z":"1d7783c5.5e966c","name":"Redis HMGET params","func":"payload = msg.payload;\nmsg.payload = [payload.ptId + '.' + payload.datatype];\nfor (i = 0; i < 4 ; i++) {\n    if (payload.keys[i]) {\n        msg.payload.push(payload.keys[i]);\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":766,"wires":[["a2427fd.8d2f68"]]},{"id":"a2427fd.8d2f68","type":"redis-command","z":"1d7783c5.5e966c","server":"96c915d5.772fa8","command":"hmget","name":"","topic":"","x":1230,"y":766,"wires":[["57f28f87.cc9fe"]]},{"id":"57f28f87.cc9fe","type":"function","z":"1d7783c5.5e966c","name":"Synopsis JSON String","func":"payload = msg.payload;\nmsg.payload = \"[\";\nfor (i = 0; i < payload.length; i++) {\n    msg.payload += payload[i] + \",\";\n}\nmsg.payload = msg.payload.substring(0, msg.payload.length - 1) + \"]\";\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":820,"wires":[["bb2c08ab.511d78"]]},{"id":"bb2c08ab.511d78","type":"json","z":"1d7783c5.5e966c","name":"Synopsis JSON Object","property":"payload","action":"","pretty":false,"x":1200,"y":820,"wires":[["ed8a35f0.b42138"]]},{"id":"ed8a35f0.b42138","type":"function","z":"1d7783c5.5e966c","name":"Make Synopsis Object","func":"payload = msg.payload;\nmsg.payload = {\n    \"synopsis\": payload,\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1420,"y":820,"wires":[["c81747c9.a5ab18"]]},{"id":"c81747c9.a5ab18","type":"join","z":"1d7783c5.5e966c","name":"JOIN Synopsis Data","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":780,"y":885,"wires":[["a1299ee2.b39c9"]]},{"id":"a1299ee2.b39c9","type":"function","z":"1d7783c5.5e966c","name":"Format Synopsis Data","func":"payload = msg.payload;\n\nmsg.payload = {\n    \"heading\": payload.datatype,\n    \"synopsis\": [],\n    \"token\": \"input token\"\n}\n\nfor (i = 0; i < payload.synopsis.length; i++) {\n    synopsis = {\n        \"dateCreated\": payload.synopsis[i].dateCreated,\n        \"source\": payload.synopsis[i].source,\n        \"sourceId\": payload.synopsis[i].sourceId,\n        \"text\": \"\"\n    };\n    switch(payload.datatype) {\n        case 'allergies':\n            synopsis.text = payload.synopsis[i].reaction;\n            break;\n        case 'medications':\n            synopsis.text = payload.synopsis[i].name;\n            break;\n        case 'problems':\n            synopsis.text = payload.synopsis[i].problem;\n            break;\n    }\n    msg.payload.synopsis.push(synopsis);\n}\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":885,"wires":[["b5255762.4c4618"]]},{"id":"b5255762.4c4618","type":"http response","z":"1d7783c5.5e966c","name":"Synopsis Success","statusCode":"","headers":{},"x":1710,"y":879,"wires":[]},{"id":"76b270a4.4eb31","type":"inject","z":"1d7783c5.5e966c","name":"Delete Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1040,"wires":[["34fdaf52.80a16"]]},{"id":"9d9f11bb.2583d","type":"http request","z":"1d7783c5.5e966c","name":"Delete Request","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":1060,"y":1040,"wires":[["5967b01a.a5a46"]]},{"id":"29f9e0e8.dc483","type":"change","z":"1d7783c5.5e966c","name":"Method is DELETE","rules":[{"t":"set","p":"method","pt":"msg","to":"DELETE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":1040,"wires":[["9d9f11bb.2583d"]]},{"id":"69074057.2875d","type":"change","z":"1d7783c5.5e966c","name":"Delete API Route","rules":[{"t":"set","p":"url","pt":"msg","to":"'http://172.17.0.2:1880/patient/'&msg.payload.ptId&'/'&msg.payload.datatype&'/'&msg.payload.sourceId","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":1040,"wires":[["29f9e0e8.dc483"]]},{"id":"34fdaf52.80a16","type":"function","z":"1d7783c5.5e966c","name":"Generate Data for Delete","func":"msg.payload = {\n    ptId: 9999999001,\n    datatype: 'allergies',\n    sourceId: \"uige9bzetlkce76w5x9hti\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":1040,"wires":[["69074057.2875d"]]},{"id":"4bdb08c5.ddb3f8","type":"http request","z":"1d7783c5.5e966c","name":"GET Medication Synopsis","method":"GET","ret":"txt","paytoqs":false,"url":"http://172.17.0.2:1880/patient/9999999001/synopsis/medications","tls":"","proxy":"","authType":"basic","x":410,"y":1140,"wires":[["5967b01a.a5a46"]]},{"id":"63385311.3a549c","type":"inject","z":"1d7783c5.5e966c","name":"Medications Synopsis Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1140,"wires":[["4bdb08c5.ddb3f8"]]},{"id":"a3a42b16.eb2528","type":"http request","z":"1d7783c5.5e966c","name":"GET Problems Synopsis","method":"GET","ret":"txt","paytoqs":false,"url":"http://172.17.0.2:1880/patient/9999999001/synopsis/problems","tls":"","proxy":"","authType":"basic","x":410,"y":1180,"wires":[["5967b01a.a5a46"]]},{"id":"377327f0.a70be8","type":"inject","z":"1d7783c5.5e966c","name":"Problems Synopsis Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1180,"wires":[["a3a42b16.eb2528"]]},{"id":"f256d634.51ddc8","type":"inject","z":"1d7783c5.5e966c","name":"Problems Data Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1320,"wires":[["15d3b69a.6e5a69"]]},{"id":"15d3b69a.6e5a69","type":"http request","z":"1d7783c5.5e966c","name":"GET Problems Data","method":"GET","ret":"txt","paytoqs":false,"url":"http://172.17.0.2:1880/patient/9999999001/problems/kb6q8h0zucjx8nuov7h8","tls":"","proxy":"","authType":"basic","x":400,"y":1320,"wires":[["5967b01a.a5a46"]]},{"id":"f5114c80.11398","type":"switch","z":"1d7783c5.5e966c","name":"Check the Result","property":"payload.length","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1130,"y":686,"wires":[["5fc3e581.04563c"],["15b1a0d4.9f014f"]]},{"id":"5fc3e581.04563c","type":"function","z":"1d7783c5.5e966c","name":"Result JSON","func":"msg.payload = {data: \"fail\", msg: \"no data available\"};\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":666,"wires":[["f0cd3b32.1b2898"]]},{"id":"f0cd3b32.1b2898","type":"http response","z":"1d7783c5.5e966c","name":"Synopsis Error","statusCode":"400","headers":{},"x":1700,"y":666,"wires":[]},{"id":"d0c7dbfa.d75698","type":"function","z":"1d7783c5.5e966c","name":"Redis HEXISTS params","func":"payload = msg.payload\nmsg.payload = [payload.ptId+'.'+payload.datatype, payload.sourceId];\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":400,"wires":[["18719d3.70adc63"]]},{"id":"18719d3.70adc63","type":"redis-command","z":"1d7783c5.5e966c","server":"96c915d5.772fa8","command":"hexists","name":"","topic":"","x":930,"y":400,"wires":[["a5d89c1b.efd12"]]},{"id":"a5d89c1b.efd12","type":"switch","z":"1d7783c5.5e966c","name":"Check the Result","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1130,"y":400,"wires":[["ac5191ff.70d3c"],["9dd0362b.92c898"]]},{"id":"ac5191ff.70d3c","type":"function","z":"1d7783c5.5e966c","name":"Result JSON","func":"msg.payload = {data: \"fail\", msg: \"cannot find data to update\"};\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":380,"wires":[["44fdc72a.511578"]]},{"id":"44fdc72a.511578","type":"http response","z":"1d7783c5.5e966c","name":"Update Error","statusCode":"400","headers":{},"x":1690,"y":380,"wires":[]},{"id":"9dd0362b.92c898","type":"function","z":"1d7783c5.5e966c","name":"Success JSON","func":"msg.payload = {\n    result: \"exist\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1340,"y":420,"wires":[["e96530f8.5e447"]]},{"id":"e96530f8.5e447","type":"join","z":"1d7783c5.5e966c","name":"Join Success Result","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":700,"y":480,"wires":[["a39837af.76fce8"]]},{"id":"4f3665ca.1e739c","type":"function","z":"1d7783c5.5e966c","name":"Result JSON","func":"msg.payload = {data: \"fail\", msg: \"data doesn't exists\"};\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":153,"wires":[["4645c81f.9a4378"]]},{"id":"96c915d5.772fa8","type":"redis-config","z":"","host":"{{REDIS_PORT_6379_TCP_ADDR}}","port":"{{REDIS_PORT_6379_TCP_PORT}}","dbase":"{{REDIS_DB}}","pass":"X6NvLgr5NJ/INEuzt6mxP5QdTyK+2ZQiXwwtaj8Mipy97SRM1pj6dK734XmoFZrNg5+b8kpO54cIPTVkdeveloper@ubuntu"}]