data/flows.json
[{"id":"24302e84.4da702","type":"tab","label":"JSON-REDIS-TEST","disabled":false,"info":""},{"id":"30a2050b.e916ca","type":"tab","label":"JSON-REDIS-SECOND","disabled":false,"info":"A simple API implementation for JSON data transformation.\nJSON data is stored in Redis Database."},{"id":"472870ff.af781","type":"subflow","name":"DataType Create SubFlow","info":"","category":"","in":[{"x":20,"y":80,"wires":[{"id":"b99c42f9.45db5"}]}],"out":[],"env":[]},{"id":"cd3c2dd1.84b6b","type":"subflow","name":"DataType Get SubFlow","info":"","category":"","in":[{"x":40,"y":140,"wires":[{"id":"15ae8090.61fe5f"}]}],"out":[],"env":[]},{"id":"d2dba767.74bcd8","type":"subflow","name":"DataType Update SubFlow","info":"","category":"","in":[{"x":40,"y":140,"wires":[{"id":"bc9356f7.433be8"}]}],"out":[],"env":[]},{"id":"9600a946.c0f438","type":"subflow","name":"DataType Delete SubFlow","info":"","category":"","in":[{"x":20,"y":100,"wires":[{"id":"19ec9939.96f657"}]}],"out":[],"env":[]},{"id":"786dc9ae.211b38","type":"subflow","name":"Synopsis SubFlow","info":"","category":"","in":[{"x":40,"y":200,"wires":[{"id":"6d586304.fd73fc"}]}],"out":[],"env":[]},{"id":"61f1dc28.b2f5a4","type":"subflow","name":"DataType List Subflow","info":"","category":"","in":[{"x":0,"y":140,"wires":[{"id":"8fd10aee.9a1868"}]}],"out":[],"env":[]},{"id":"371be9e2.14a596","type":"subflow","name":"Patient Create Subflow","info":"","category":"","in":[{"x":40,"y":100,"wires":[{"id":"d3282f8b.c8b5c"}]}],"out":[],"env":[]},{"id":"246a5948.5d4366","type":"subflow","name":"Patient Get Subflow","info":"","category":"","in":[{"x":20,"y":100,"wires":[{"id":"4a30d870.3170b8"}]}],"out":[],"env":[]},{"id":"4cec1f44.07022","type":"subflow","name":"Patient Update SubFlow","info":"","category":"","in":[{"x":40,"y":140,"wires":[{"id":"23df796b.676406"}]}],"out":[],"env":[]},{"id":"ca535fa5.32dda","type":"subflow","name":"Patient Delete Subflow","info":"","category":"","in":[{"x":40,"y":100,"wires":[{"id":"907c11fa.585d3"}]}],"out":[],"env":[]},{"id":"2f6a30d4.0662e","type":"subflow","name":"Patient Search Subflow","info":"","category":"","in":[{"x":20,"y":160,"wires":[{"id":"e8f4181e.840cf8"}]}],"out":[],"env":[]},{"id":"a74d56bf.bad038","type":"redis-config","z":"","host":"172.17.0.2","port":"{{REDIS_PORT_6379_TCP_PORT}}","dbase":"{{REDIS_DB}}","pass":"X6NvLgr5NJ/INEuzt6mxP5QdTyK+2ZQiXwwtaj8Mipy97SRM1pj6dK734XmoFZrNg5+b8kpO54cIPTVkdeveloper@ubuntu"},{"id":"5ee63ea2.b2bb","type":"inject","z":"24302e84.4da702","name":"Create Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":40,"wires":[["6b62223d.4a60ac"]]},{"id":"6b62223d.4a60ac","type":"function","z":"24302e84.4da702","name":"Generate Data for Create","func":"datatypes = [\n    \"allergies\", \n    \"medications\", \n    \"problems\",\n    \"vitalsigns\"\n];\n\ntype = Math.floor(Math.random() * 4);\n//type=3;\ntimestamp = msg.payload;\n\nmsg.payload = {\n    ptId: global.get('patientID'),\n    datatype: datatypes[type]\n}\n\nswitch(type) {\n    case 0:\n        msg.payload.data = {\n            author: \"Robert Tweed\",\n            cause: \"cats\",\n            causeCode: \"cats\",\n            causeTerminology: \"cats\",\n            dateCreated: timestamp,\n            reaction: \"cats\",\n            originalComposition: \"\",\n            originalSource: \"\",\n            terminologyCode: \"\",\n        };\n        break;\n    case 1:\n        msg.payload.data = {\n            author: \"Robert Tweed\",\n            dateCreated: timestamp,\n            doseAmount: \"20 mg\",\n            doseDirections: \"20 mg\",\n            doseTiming: \"1 per day\",\n            medicationCode: \"test\",\n            name: \"Paracetomol\",\n            route: \"Po Per Oral\",\n            startDate: \"2019-06-12\",\n            startTime: \"2019-06-15\",\n        }\n        break;\n    case 2:\n        msg.payload.data = {\n            author: \"Robert Tweed\",\n            code: \"test\",\n            dateCreated: timestamp,\n            dateOfOnset: \"2019-06-11\",\n            description: \"test\",\n            problem: \"Asthma\",\n            terminology: \"test\",\n            originalComposition: \"\",\n            originalSource: \"\",\n        }\n        break;\n    case 3:\n        msg.payload.data = {\n            author: \"Robert Tweed\",\n            dateCreate: 1560429237,\n            diastolicBP: \"98\",\n            heartRate: \"98\",\n            levelOfConsciousness: \"Voice\",\n            newsScore: \"11\",\n            oxygenSaturation: \"95\",\n            oxygenSupplemental: true,\n            respirationRate: \"13\",\n            systolicBP: \"98\",\n            temperature: \"37\",\n        }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":40,"wires":[["59df3c5a.9bae04"]]},{"id":"1e47e258.69803e","type":"http request","z":"24302e84.4da702","name":"Create Request","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":1060,"y":40,"wires":[["126a8ea3.8bca91"]]},{"id":"59df3c5a.9bae04","type":"change","z":"24302e84.4da702","name":"Create API Route","rules":[{"t":"set","p":"url","pt":"msg","to":"'http://127.0.0.1:1880/patient/'&msg.payload.ptId&'/'&msg.payload.datatype","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":40,"wires":[["bc7f8df8.1260b"]]},{"id":"bc7f8df8.1260b","type":"change","z":"24302e84.4da702","name":"Method is POST","rules":[{"t":"set","p":"method","pt":"msg","to":"POST","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":40,"wires":[["1e47e258.69803e"]]},{"id":"f8d5103a.f2d1c","type":"inject","z":"24302e84.4da702","name":"Allergies Synopsis Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":180,"wires":[["ea687bc3.b9daf8"]]},{"id":"f9d4577b.03fd58","type":"http request","z":"24302e84.4da702","name":"GET Allergies Synopsis","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":830,"y":180,"wires":[["126a8ea3.8bca91"]]},{"id":"8a530917.1a4ac8","type":"inject","z":"24302e84.4da702","name":"Allergy Data Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":360,"wires":[["d5061707.c53e38"]]},{"id":"91f003c5.5cd89","type":"http request","z":"24302e84.4da702","name":"GET Medicians Data","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":820,"y":400,"wires":[["126a8ea3.8bca91"]]},{"id":"1275a414.9ad0bc","type":"inject","z":"24302e84.4da702","name":"Medications Data Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":400,"wires":[["ea20296f.1fdce8"]]},{"id":"515011a6.5a9f5","type":"http request","z":"24302e84.4da702","name":"GET Allergies Data","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":810,"y":360,"wires":[["126a8ea3.8bca91"]]},{"id":"126a8ea3.8bca91","type":"json","z":"24302e84.4da702","name":"Response Data JSON","property":"payload","action":"","pretty":false,"x":1380,"y":240,"wires":[["ab2de5d0.8388a8"]]},{"id":"ab2de5d0.8388a8","type":"debug","z":"24302e84.4da702","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1610,"y":240,"wires":[]},{"id":"8bd93465.b02df8","type":"http request","z":"24302e84.4da702","name":"Update Request","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":1060,"y":80,"wires":[["126a8ea3.8bca91"]]},{"id":"48e504d0.daa56c","type":"change","z":"24302e84.4da702","name":"Method is PUT","rules":[{"t":"set","p":"method","pt":"msg","to":"PUT","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":80,"wires":[["8bd93465.b02df8"]]},{"id":"62ceb944.830238","type":"change","z":"24302e84.4da702","name":"Update API Route","rules":[{"t":"set","p":"url","pt":"msg","to":"'http://127.0.0.1:1880/patient/'&msg.payload.ptId&'/'&msg.payload.datatype&'/'&msg.payload.data.sourceId","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":80,"wires":[["48e504d0.daa56c"]]},{"id":"86d4755a.78e708","type":"function","z":"24302e84.4da702","name":"Generate Data for Update","func":"msg.payload = {\n    ptId: global.get('patientID'),\n    datatype: 'allergies',\n    data: {\n        author: \"Not known\",\n        cause: \"Adverse reaction to aspirin\",\n        causeCode: \"http://snomed.info/sct\",\n        causeTerminology: 292044008,\n        dateCreated: 1181170800000,\n        id: \"kq21alape7mtw7eupmrzua\",\n        originalComposition: \"\",\n        originalSource: \"\",\n        reaction: \"Adverse reaction to aspirin\",\n        source: \"ethercis\",\n        sourceId: \"kq21alape7mtw7eupmrzua\",\n        terminologyCode: \"http://snomed.info/sct\"\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":80,"wires":[["62ceb944.830238"]]},{"id":"aa2a089c.b74348","type":"inject","z":"24302e84.4da702","name":"Update Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":80,"wires":[["86d4755a.78e708"]]},{"id":"dffca5e6.25a038","type":"inject","z":"24302e84.4da702","name":"Delete Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":120,"wires":[["9d1a22f5.a4ebb"]]},{"id":"4c851273.5a868c","type":"http request","z":"24302e84.4da702","name":"Delete Request","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":1060,"y":120,"wires":[["126a8ea3.8bca91"]]},{"id":"175d9909.3170c7","type":"change","z":"24302e84.4da702","name":"Method is DELETE","rules":[{"t":"set","p":"method","pt":"msg","to":"DELETE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":120,"wires":[["4c851273.5a868c"]]},{"id":"9c351390.3f352","type":"change","z":"24302e84.4da702","name":"Delete API Route","rules":[{"t":"set","p":"url","pt":"msg","to":"'http://127.0.0.1:1880/patient/'&msg.payload.ptId&'/'&msg.payload.datatype&'/'&msg.payload.sourceId","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":120,"wires":[["175d9909.3170c7"]]},{"id":"9d1a22f5.a4ebb","type":"function","z":"24302e84.4da702","name":"Generate Data for Delete","func":"msg.payload = {\n    ptId: global.get('patientID'),\n    datatype: 'allergies',\n    sourceId: \"uige9bzetlkce76w5x9hti\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":120,"wires":[["9c351390.3f352"]]},{"id":"92306477.3048c8","type":"http request","z":"24302e84.4da702","name":"GET Medication Synopsis","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":830,"y":220,"wires":[["126a8ea3.8bca91"]]},{"id":"af6a7f40.d1126","type":"inject","z":"24302e84.4da702","name":"Medications Synopsis Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":220,"wires":[["309c816c.6fc4be"]]},{"id":"763da497.59049c","type":"http request","z":"24302e84.4da702","name":"GET Problems Synopsis","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":830,"y":260,"wires":[["126a8ea3.8bca91"]]},{"id":"893684a1.3930f8","type":"inject","z":"24302e84.4da702","name":"Problems Synopsis Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":260,"wires":[["3dc2f8a9.e29b48"]]},{"id":"335f3999.756cd6","type":"inject","z":"24302e84.4da702","name":"Problems Data Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":440,"wires":[["3f276363.d3cb2c"]]},{"id":"cea652e9.d0bf8","type":"http request","z":"24302e84.4da702","name":"GET Problems Data","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":820,"y":440,"wires":[["126a8ea3.8bca91"]]},{"id":"bebc2486.cba648","type":"inject","z":"24302e84.4da702","name":"Patient Create Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":560,"wires":[["45bf1a6c.04e924"]]},{"id":"45bf1a6c.04e924","type":"function","z":"24302e84.4da702","name":"Generate Data for Patient","func":"\nmsg.payload = {\n    data: {\n        address: {\n            city: \"Redhill\",\n            country: \"United Kingdom\",\n            district: \"Surrey\",\n            line: \"3 Cooper Walk\",\n            postalCode: \"RH1 6SF\",\n        },\n        birthDate: \"1956-11-10\",\n        gender: \"male\",\n        id: global.get('patientID'),\n        name: {\n            family: \"Tweet\",\n            given: [\n                \"Rob\",\n            ],\n            prefix: \"Mr\",\n            telecom: \"+779017 876\"\n        },\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":560,"wires":[["cdc25a6d.b46fc8"]]},{"id":"cdc25a6d.b46fc8","type":"change","z":"24302e84.4da702","name":"Create API Route","rules":[{"t":"set","p":"url","pt":"msg","to":"'http://127.0.0.1:1880/mpi/patient/'&msg.payload.data.id","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":560,"wires":[["d75480be.7bb4e"]]},{"id":"d75480be.7bb4e","type":"change","z":"24302e84.4da702","name":"Method is POST","rules":[{"t":"set","p":"method","pt":"msg","to":"POST","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":560,"wires":[["b8cf7144.fa7e6"]]},{"id":"b8cf7144.fa7e6","type":"http request","z":"24302e84.4da702","name":"Create Request","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":1060,"y":560,"wires":[["126a8ea3.8bca91"]]},{"id":"7f00cc21.b713a4","type":"inject","z":"24302e84.4da702","name":"Patient Update Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":600,"wires":[["96a00ca3.49046"]]},{"id":"96a00ca3.49046","type":"function","z":"24302e84.4da702","name":"Generate Data for Patient","func":"\nmsg.payload = {\n    data: {\n        address: {\n            city: \"Redhill\",\n            country: \"United Kingdom\",\n            district: \"Surrey\",\n            line: \"3 Cooper Walk\",\n            postalCode: \"RH1 6SF\"\n        },\n        birthDate: \"1956-11-10\",\n        gender: \"female\",\n        id: \"9999999001\",\n        name: {\n            family: \"Rob\",\n            given: [\n                \"Smith\"\n            ],\n            prefix: \"Mr\",\n            telecom: \"+779017 876\"\n        }\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":600,"wires":[["d8483063.f8bff"]]},{"id":"d8483063.f8bff","type":"change","z":"24302e84.4da702","name":"Update API Route","rules":[{"t":"set","p":"url","pt":"msg","to":"'http://127.0.0.1:1880/mpi/patient/'&msg.payload.data.id","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":600,"wires":[["fe2e2b61.8e3398"]]},{"id":"fe2e2b61.8e3398","type":"change","z":"24302e84.4da702","name":"Method is PUT","rules":[{"t":"set","p":"method","pt":"msg","to":"PUT","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":600,"wires":[["36e0fa21.d70356"]]},{"id":"36e0fa21.d70356","type":"http request","z":"24302e84.4da702","name":"Update Request","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":1060,"y":600,"wires":[["126a8ea3.8bca91"]]},{"id":"d52b223b.f603","type":"inject","z":"24302e84.4da702","name":"Patient Delete Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":640,"wires":[["f17c1a25.7debb8"]]},{"id":"f17c1a25.7debb8","type":"function","z":"24302e84.4da702","name":"Generate Data for Delete","func":"msg.payload = {\n    ptId: 9999999801,\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":640,"wires":[["a4fe27e5.1c9e28"]]},{"id":"d0304fe8.fe9b7","type":"change","z":"24302e84.4da702","name":"Method is DELETE","rules":[{"t":"set","p":"method","pt":"msg","to":"DELETE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":640,"wires":[["86ae8d50.3ee19"]]},{"id":"86ae8d50.3ee19","type":"http request","z":"24302e84.4da702","name":"Delete Request","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":1060,"y":640,"wires":[["126a8ea3.8bca91"]]},{"id":"a4fe27e5.1c9e28","type":"change","z":"24302e84.4da702","name":"Delete API Route","rules":[{"t":"set","p":"url","pt":"msg","to":"'http://127.0.0.1:1880/mpi/patient/'&msg.payload.ptId","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":640,"wires":[["d0304fe8.fe9b7"]]},{"id":"db4a13f2.5a06a","type":"inject","z":"24302e84.4da702","name":"Patient Data Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":520,"wires":[["ca329fd2.5aa8b"]]},{"id":"c353517a.0b61b","type":"http request","z":"24302e84.4da702","name":"GET Patients Data","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":810,"y":520,"wires":[["126a8ea3.8bca91"]]},{"id":"c893fba1.4cd628","type":"inject","z":"24302e84.4da702","name":"Set Patient ID","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":880,"wires":[["ab293d42.27fb5"]]},{"id":"ab293d42.27fb5","type":"function","z":"24302e84.4da702","name":"Set Patient ID","func":"global.set('patientID', 9999999001);\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":880,"wires":[[]]},{"id":"7c1e323f.cd6c1c","type":"inject","z":"24302e84.4da702","name":"VitalSigns Synopsis Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":300,"wires":[["7a0e4e6b.3e806"]]},{"id":"7d9d4b55.d6c204","type":"http request","z":"24302e84.4da702","name":"GET VitalSigns Synopsis","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":830,"y":300,"wires":[["126a8ea3.8bca91"]]},{"id":"b5dc1769.090198","type":"inject","z":"24302e84.4da702","name":"Vitalsigns Data Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":480,"wires":[["22342e69.ef0382"]]},{"id":"1f7837af.52a6f8","type":"http request","z":"24302e84.4da702","name":"GET VitalSigns Data","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":820,"y":480,"wires":[["126a8ea3.8bca91"]]},{"id":"ddd236ef.0eb4b8","type":"inject","z":"24302e84.4da702","name":"Vitalsigns List Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":840,"wires":[["ff596a84.b16ce8"]]},{"id":"97b2a2aa.99d27","type":"http request","z":"24302e84.4da702","name":"GET Vitalsigns List","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":830,"y":840,"wires":[["126a8ea3.8bca91"]]},{"id":"1fc0f0ac.20c2ff","type":"inject","z":"24302e84.4da702","name":"Patient Search Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":680,"wires":[["d52684ba.d3fe78"]]},{"id":"d52684ba.d3fe78","type":"http request","z":"24302e84.4da702","name":"GET Patients List","method":"GET","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:1880/mpi/patient?name=Rob","tls":"","proxy":"","authType":"","x":830,"y":680,"wires":[["126a8ea3.8bca91"]]},{"id":"336ce4b9.cbdc3c","type":"http in","z":"30a2050b.e916ca","name":"","url":"/patient/:ptId/allergies/:sourceId","method":"get","upload":false,"swaggerDoc":"","x":160,"y":220,"wires":[["8ae8083e.08f838"]]},{"id":"8ae8083e.08f838","type":"change","z":"30a2050b.e916ca","name":"GetParams","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"ptId\": msg.req.params.ptId,\t    \"datatype\": \"allergies\",\t    \"sourceId\": msg.req.params.sourceId,\t    \"transform\": msg.req.query.transform\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":220,"wires":[["cc290731.5aee28"]]},{"id":"e15e3cb1.d3bb6","type":"redis-command","z":"cd3c2dd1.84b6b","server":"a74d56bf.bad038","command":"hget","name":"","topic":"","x":610,"y":80,"wires":[["e435351d.f43478"]]},{"id":"8024a1d7.a51cd","type":"function","z":"cd3c2dd1.84b6b","name":"Redis HGET params","func":"payload = msg.payload\nmsg.payload = [payload.ptId+'.'+payload.datatype, payload.sourceId];\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":80,"wires":[["e15e3cb1.d3bb6"]]},{"id":"ce292b5e.d8e418","type":"json","z":"cd3c2dd1.84b6b","name":"Database JSON","property":"payload","action":"","pretty":true,"x":620,"y":140,"wires":[["7a4ffe54.637c6"]]},{"id":"b0cd81fd.cf8b","type":"http response","z":"cd3c2dd1.84b6b","name":"GET Success","statusCode":"","headers":{},"x":1420,"y":200,"wires":[]},{"id":"4651b072.23f96","type":"http response","z":"472870ff.af781","name":"Create Success","statusCode":"","headers":{},"x":1220,"y":80,"wires":[]},{"id":"15f081c7.c3a59e","type":"function","z":"cd3c2dd1.84b6b","name":"Transform method","func":"msg.payload = {transform: msg.payload.transform ? msg.payload.transform : ''};\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":200,"wires":[["7a4ffe54.637c6"]]},{"id":"7a4ffe54.637c6","type":"join","z":"cd3c2dd1.84b6b","name":"Add transform method","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":640,"y":200,"wires":[["b4e4cfb7.022af"]]},{"id":"b4e4cfb7.022af","type":"switch","z":"cd3c2dd1.84b6b","name":"Transform Switch","property":"payload.transform","propertyType":"msg","rules":[{"t":"eq","v":"TransformA-Allergy-UI2openEHR","vt":"str"},{"t":"eq","v":"TransformB-Allergy-UI2FHIR","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":870,"y":200,"wires":[["2da6c9c6.ed97e6"],["68fdfde4.167074"],["8e3a5de2.2e5dc"]]},{"id":"2da6c9c6.ed97e6","type":"change","z":"cd3c2dd1.84b6b","name":"TransformA-Allergy-UI2openEHR","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"allergies_and_adverse_reactions\": {\t      \"adverse_reaction_risk\": {\t        \"causative_agent\": {\t          \"value\": msg.payload.cause,\t          \"code\": msg.payload.causeCode,\t          \"terminology\": msg.payload.causeTerminology\t        },\t        \"reaction_details\": {\t          \"manifestation\": {\t            \"code\": msg.payload.terminologyCode,\t            \"value\": msg.payload.reaction\t          }\t        }\t      }\t    },\t    \"composer\": {\t      \"value\": msg.payload.author\t    },\t    \"start_time\": $fromMillis(msg.payload.dateCreated),\t    \"host\": msg.payload.source,\t    \"uid\": msg.payload.sourceId,\t    \"patientId\": msg.payload.patientId\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":160,"wires":[["b0cd81fd.cf8b"]]},{"id":"68fdfde4.167074","type":"change","z":"cd3c2dd1.84b6b","name":"TransformB-Allergy-UI2FHIR","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"resourceType\": \"AllergyIntolerance\",\t    \"identifier\": [\t      {\t        \"system\": msg.payload.source,\t        \"value\": msg.payload.sourceId\t      }\t    ],\t    \"onset\": $fromMillis(msg.payload.dateCreated),\t    \"recordedDate\": $fromMillis(msg.payload.dateCreated),\t    \"recorder\": {\t      \"reference\": \"GMC Doctor\",\t      \"display\": msg.payload.author\t    },\t    \"patient\": {\t      \"reference\": \"=> fhirReference(patientId, 'Patient', false)\",\t      \"display\": \"{{patientName}}\"\t    },\t    \"substance\": {\t      \"coding\": [\t        {\t          \"system\": msg.payload.causeCode,\t          \"code\": msg.payload.causeTerminology,\t          \"display\": msg.payload.cause\t        }\t      ]\t    },\t    \"status\": \"active\",\t    \"type\": \"allergy\",\t    \"category\": \"other\",\t    \"reaction\": [\t      {\t        \"substance\": {\t          \"coding\": [\t            {\t              \"system\": msg.payload.causeCode,\t              \"code\": msg.payload.causeTerminology,\t              \"display\": msg.payload.cause\t            }\t          ],\t          \"text\": msg.payload.ause\t        },\t        \"certainty\": \"confirmed\",\t        \"manifestation\": [\t          {\t            \"coding\": [\t              {\t                \"system\": msg.payload.terminologyCode,\t                \"code\": \"TBC\",\t                \"display\": msg.payload.reaction\t              }\t            ],\t            \"text\": msg.payload.reaction\t          }\t        ],\t        \"description\": msg.payload.reaction\t      }\t    ],\t    \"note\": msg.payload.reaction\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":200,"wires":[["b0cd81fd.cf8b"]]},{"id":"b93625f9.2130a8","type":"http in","z":"30a2050b.e916ca","name":"","url":"/patient/:ptId/problems/:sourceId","method":"get","upload":false,"swaggerDoc":"","x":170,"y":300,"wires":[["c9898430.bae038"]]},{"id":"c9898430.bae038","type":"change","z":"30a2050b.e916ca","name":"GetParams","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"ptId\": msg.req.params.ptId,\t    \"datatype\": \"problems\",\t    \"sourceId\": msg.req.params.sourceId,\t    \"transform\": msg.req.query.transform\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":300,"wires":[["d0f4a385.0b809"]]},{"id":"9a0747d5.d7b598","type":"http in","z":"30a2050b.e916ca","name":"","url":"/patient/:ptId/medications/:sourceId","method":"get","upload":false,"swaggerDoc":"","x":170,"y":260,"wires":[["e4e3696e.f62368"]]},{"id":"e4e3696e.f62368","type":"change","z":"30a2050b.e916ca","name":"GetParams","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"ptId\": msg.req.params.ptId,\t    \"datatype\": \"medications\",\t    \"sourceId\": msg.req.params.sourceId,\t    \"transform\": msg.req.query.transform\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":260,"wires":[["be04ca35.974688"]]},{"id":"8e3a5de2.2e5dc","type":"function","z":"cd3c2dd1.84b6b","name":"No Transform","func":"msg.payload = msg.payload;\ndelete msg.payload.transform;\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":240,"wires":[["b0cd81fd.cf8b"]]},{"id":"e435351d.f43478","type":"switch","z":"cd3c2dd1.84b6b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":80,"wires":[["43a25e70.b666f"],["ce292b5e.d8e418"]]},{"id":"e411331c.58cc8","type":"http response","z":"cd3c2dd1.84b6b","name":"GET Data Error","statusCode":"","headers":{},"x":1420,"y":73,"wires":[]},{"id":"794eb0f3.5c1f","type":"http in","z":"30a2050b.e916ca","name":"","url":"/patient/:ptId/allergies","method":"post","upload":false,"swaggerDoc":"","x":140,"y":40,"wires":[["d52c1491.128778"]]},{"id":"d52c1491.128778","type":"change","z":"30a2050b.e916ca","name":"PostParams","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"ptId\": msg.req.params.ptId,\t    \"datatype\": \"allergies\",\t    \"data\": msg.req.body.data\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":40,"wires":[["badc895a.560a78"]]},{"id":"9db70664.0e30f8","type":"change","z":"30a2050b.e916ca","name":"PostParams","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"ptId\": msg.req.params.ptId,\t    \"datatype\": \"medications\",\t    \"data\": msg.req.body.data\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":80,"wires":[["cc656e0e.f80fe"]]},{"id":"b02e1df1.ba28b","type":"http in","z":"30a2050b.e916ca","name":"","url":"/patient/:ptId/medications","method":"post","upload":false,"swaggerDoc":"","x":150,"y":80,"wires":[["9db70664.0e30f8"]]},{"id":"b4840d32.857c7","type":"change","z":"30a2050b.e916ca","name":"PostParams","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"ptId\": msg.req.params.ptId,\t    \"datatype\": \"problems\",\t    \"data\": msg.req.body.data\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":121,"wires":[["f7fedd95.b6c6a"]]},{"id":"716796ec.29a108","type":"http in","z":"30a2050b.e916ca","name":"","url":"/patient/:ptId/problems","method":"post","upload":false,"swaggerDoc":"","x":140,"y":121,"wires":[["b4840d32.857c7"]]},{"id":"b99c42f9.45db5","type":"function","z":"472870ff.af781","name":"Add Source ID to Data","func":"newid = Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15);\nmsg.payload.data.id = newid;\nmsg.payload.data.sourceId = newid;\nmsg.payload.data.source = \"ethercis\";\nflow.set('id', newid);\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":80,"wires":[["5a1bf9f2.bcaa98"]]},{"id":"5a1bf9f2.bcaa98","type":"function","z":"472870ff.af781","name":"Redis HSET params","func":"payload = msg.payload;\nmsg.payload = [payload.ptId + '.' + payload.datatype, payload.data.sourceId, JSON.stringify(payload.data)];\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":80,"wires":[["3c60e36b.01d2cc"]]},{"id":"3c60e36b.01d2cc","type":"redis-command","z":"472870ff.af781","server":"a74d56bf.bad038","command":"hset","name":"","topic":"","x":650,"y":80,"wires":[["98ba25fd.e95e78"]]},{"id":"98ba25fd.e95e78","type":"function","z":"472870ff.af781","name":"Result JSON","func":"msg.payload = {success: true, id: flow.get('id')};\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":80,"wires":[["4651b072.23f96"]]},{"id":"c9ecf2da.a2df1","type":"http in","z":"30a2050b.e916ca","name":"","url":"/patient/:ptId/allergies/:sourceId","method":"put","upload":false,"swaggerDoc":"","x":160,"y":400,"wires":[["1fcdcc1d.12ccc4"]]},{"id":"560ae40f.622c7c","type":"http in","z":"30a2050b.e916ca","name":"","url":"/patient/:ptId/medications/:sourceId","method":"put","upload":false,"swaggerDoc":"","x":170,"y":440,"wires":[["99a65987.fef9c8"]]},{"id":"d218f49c.2b4258","type":"http in","z":"30a2050b.e916ca","name":"","url":"/patient/:ptId/problems/:sourceId","method":"put","upload":false,"swaggerDoc":"","x":170,"y":481,"wires":[["8872d019.38929"]]},{"id":"8872d019.38929","type":"change","z":"30a2050b.e916ca","name":"PutParams","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"ptId\": msg.req.params.ptId,\t    \"datatype\": \"problems\",\t    \"sourceId\": msg.req.params.sourceId,\t    \"data\": msg.req.body.data\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":480,"wires":[["13bc2270.72968e"]]},{"id":"99a65987.fef9c8","type":"change","z":"30a2050b.e916ca","name":"PutParams","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"ptId\": msg.req.params.ptId,\t    \"datatype\": \"medications\",\t    \"sourceId\": msg.req.params.sourceId,\t    \"data\": msg.req.body.data\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":440,"wires":[["7d7dc6f2.3bdd78"]]},{"id":"1fcdcc1d.12ccc4","type":"change","z":"30a2050b.e916ca","name":"PutParams","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"ptId\": msg.req.params.ptId,\t    \"datatype\": \"allergies\",\t    \"sourceId\": msg.req.params.sourceId,\t    \"data\": msg.req.body.data\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":400,"wires":[["7c1991d1.fcf9d"]]},{"id":"8b4d181a.c25048","type":"function","z":"d2dba767.74bcd8","name":"Redis HSET params","func":"payload = msg.payload;\nmsg.payload = [payload.ptId + '.' + payload.datatype, payload.sourceId, JSON.stringify(payload.data)];\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":180,"wires":[["456567a4.868e18"]]},{"id":"456567a4.868e18","type":"redis-command","z":"d2dba767.74bcd8","server":"a74d56bf.bad038","command":"hset","name":"","topic":"","x":890,"y":180,"wires":[["ca7bac08.dcedb"]]},{"id":"ca7bac08.dcedb","type":"function","z":"d2dba767.74bcd8","name":"Result JSON","func":"msg.payload = {data: \"success\", msg: \"data updated successfully\"};\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":180,"wires":[["2beff14a.b70abe"]]},{"id":"2beff14a.b70abe","type":"http response","z":"d2dba767.74bcd8","name":"Update Success","statusCode":"","headers":{},"x":1440,"y":180,"wires":[]},{"id":"f55afa29.a85458","type":"http in","z":"30a2050b.e916ca","name":"","url":"/patient/:ptId/allergies/:sourceId","method":"delete","upload":false,"swaggerDoc":"","x":170,"y":580,"wires":[["82714082.ff10b"]]},{"id":"f72d9053.3abb1","type":"http in","z":"30a2050b.e916ca","name":"","url":"/patient/:ptId/medications/:sourceId","method":"delete","upload":false,"swaggerDoc":"","x":180,"y":620,"wires":[["7c5ea3c.f9cb25c"]]},{"id":"dd3125be.af6c58","type":"http in","z":"30a2050b.e916ca","name":"","url":"/patient/:ptId/problems/:sourceId","method":"delete","upload":false,"swaggerDoc":"","x":170,"y":661,"wires":[["c4f40bde.0c6208"]]},{"id":"c4f40bde.0c6208","type":"change","z":"30a2050b.e916ca","name":"DeleteParams","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"ptId\": msg.req.params.ptId,\t    \"datatype\": \"problems\",\t    \"sourceId\": msg.req.params.sourceId\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":660,"wires":[["26f86dd5.872a62"]]},{"id":"7c5ea3c.f9cb25c","type":"change","z":"30a2050b.e916ca","name":"DeleteParams","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"ptId\": msg.req.params.ptId,\t    \"datatype\": \"medications\",\t    \"sourceId\": msg.req.params.sourceId\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":620,"wires":[["bc090203.14081"]]},{"id":"82714082.ff10b","type":"change","z":"30a2050b.e916ca","name":"DeleteParams","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"ptId\": msg.req.params.ptId,\t    \"datatype\": \"allergies\",\t    \"sourceId\": msg.req.params.sourceId\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":580,"wires":[["b1579e2a.7e7b5"]]},{"id":"19ec9939.96f657","type":"function","z":"9600a946.c0f438","name":"Redis HDEL params","func":"payload = msg.payload;\nmsg.payload = [payload.ptId + '.' + payload.datatype, payload.sourceId];\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":100,"wires":[["a2056a73.8ff698"]]},{"id":"a2056a73.8ff698","type":"redis-command","z":"9600a946.c0f438","server":"a74d56bf.bad038","command":"hdel","name":"","topic":"","x":410,"y":100,"wires":[["6dae5f74.907f4"]]},{"id":"13646952.082b17","type":"function","z":"9600a946.c0f438","name":"Result JSON","func":"msg.payload = {data: \"success\", msg: \"data deleted successfully\"};\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":80,"wires":[["c7354aec.e0eda8"]]},{"id":"c7354aec.e0eda8","type":"http response","z":"9600a946.c0f438","name":"Delete Success","statusCode":"","headers":{},"x":1200,"y":80,"wires":[]},{"id":"6dae5f74.907f4","type":"switch","z":"9600a946.c0f438","name":"Check the Result","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":100,"wires":[["13646952.082b17"],["dc3cbeed.73bf8"]]},{"id":"dc3cbeed.73bf8","type":"function","z":"9600a946.c0f438","name":"Result JSON","func":"msg.payload = {data: \"fail\", msg: \"cannot delete data\"};\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":120,"wires":[["8a859e76.a3c88"]]},{"id":"8a859e76.a3c88","type":"http response","z":"9600a946.c0f438","name":"Delete Error","statusCode":"","headers":{},"x":1190,"y":120,"wires":[]},{"id":"72d29849.6454b8","type":"http in","z":"30a2050b.e916ca","name":"","url":"/patient/:ptId/synopsis/allergies/","method":"get","upload":false,"swaggerDoc":"","x":160,"y":940,"wires":[["1b941fc8.6b377"]]},{"id":"1b941fc8.6b377","type":"change","z":"30a2050b.e916ca","name":"GetParams","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"ptId\": msg.req.params.ptId,\t    \"datatype\": \"allergies\"\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":940,"wires":[["34989da4.695a72"]]},{"id":"6c158c0b.3a68b4","type":"http in","z":"30a2050b.e916ca","name":"","url":"/patient/:ptId/synopsis/problems","method":"get","upload":false,"swaggerDoc":"","x":160,"y":1020,"wires":[["157606c6.d9e799"]]},{"id":"157606c6.d9e799","type":"change","z":"30a2050b.e916ca","name":"GetParams","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"ptId\": msg.req.params.ptId,\t    \"datatype\": \"problems\"\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":1020,"wires":[["9cec63ff.c0c25"]]},{"id":"a883b9a4.179bf8","type":"http in","z":"30a2050b.e916ca","name":"","url":"/patient/:ptId/synopsis/medications","method":"get","upload":false,"swaggerDoc":"","x":170,"y":980,"wires":[["a6d01a36.a526e8"]]},{"id":"a6d01a36.a526e8","type":"change","z":"30a2050b.e916ca","name":"GetParams","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"ptId\": msg.req.params.ptId,\t    \"datatype\": \"medications\"\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":980,"wires":[["99c6f8dd.317e98"]]},{"id":"7628f6f1.807bc8","type":"function","z":"786dc9ae.211b38","name":"Redis HKEYS params","func":"payload = msg.payload;\nmsg.payload = [payload.ptId + '.' + payload.datatype];\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":100,"wires":[["f03d1a41.9b00a8"]]},{"id":"f03d1a41.9b00a8","type":"redis-command","z":"786dc9ae.211b38","server":"a74d56bf.bad038","command":"hkeys","name":"","topic":"","x":690,"y":100,"wires":[["2001c94d.f84d16"]]},{"id":"548ea1a5.e18da","type":"join","z":"786dc9ae.211b38","name":"JOIN Keys Data","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":460,"y":180,"wires":[["d66f230e.bbebd"]]},{"id":"5a88743.313548c","type":"change","z":"786dc9ae.211b38","name":"Keys JSON","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"keys\":msg.payload\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":120,"wires":[["548ea1a5.e18da"]]},{"id":"d66f230e.bbebd","type":"function","z":"786dc9ae.211b38","name":"Redis HMGET params","func":"payload = msg.payload;\nmsg.payload = [payload.ptId + '.' + payload.datatype];\nvar count = Math.min(4, payload.keys.length);\nfor (i = 0; i < count ; i++) {\n    msg.payload.push(payload.keys[i]);\n}\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":180,"wires":[["bda3ccdd.0a5eb"]]},{"id":"bda3ccdd.0a5eb","type":"redis-command","z":"786dc9ae.211b38","server":"a74d56bf.bad038","command":"hmget","name":"","topic":"","x":930,"y":180,"wires":[["deac496a.e27a98"]]},{"id":"deac496a.e27a98","type":"function","z":"786dc9ae.211b38","name":"Synopsis JSON String","func":"payload = msg.payload;\nmsg.payload = \"[\";\nfor (i = 0; i < payload.length; i++) {\n    msg.payload += payload[i] + \",\";\n}\nmsg.payload = msg.payload.substring(0, msg.payload.length - 1) + \"]\";\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":234,"wires":[["225eae83.7fd652"]]},{"id":"225eae83.7fd652","type":"json","z":"786dc9ae.211b38","name":"Synopsis JSON Object","property":"payload","action":"","pretty":false,"x":900,"y":234,"wires":[["15a863d3.a04c2c"]]},{"id":"15a863d3.a04c2c","type":"function","z":"786dc9ae.211b38","name":"Make Synopsis Object","func":"payload = msg.payload;\nmsg.payload = {\n    \"synopsis\": payload,\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":234,"wires":[["f8ecd19e.3b219"]]},{"id":"f8ecd19e.3b219","type":"join","z":"786dc9ae.211b38","name":"JOIN Synopsis Data","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":480,"y":299,"wires":[["3a4897ae.de5e58"]]},{"id":"3a4897ae.de5e58","type":"function","z":"786dc9ae.211b38","name":"Format Synopsis Data","func":"payload = msg.payload;\n\nmsg.payload = {\n    \"heading\": payload.datatype,\n    \"synopsis\": [],\n    \"token\": \"input token\"\n}\n\nfor (i = 0; i < payload.synopsis.length; i++) {\n    synopsis = {\n        \"dateCreated\": payload.synopsis[i].dateCreated,\n        \"source\": payload.synopsis[i].source,\n        \"sourceId\": payload.synopsis[i].sourceId,\n        \"text\": \"\"\n    };\n    switch(payload.datatype) {\n        case 'allergies':\n            synopsis.text = payload.synopsis[i].reaction;\n            break;\n        case 'medications':\n            synopsis.text = payload.synopsis[i].name;\n            break;\n        case 'problems':\n            synopsis.text = payload.synopsis[i].problem;\n            break;\n    }\n    msg.payload.synopsis.push(synopsis);\n}\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":299,"wires":[["bcc53afd.0575e8"]]},{"id":"bcc53afd.0575e8","type":"http response","z":"786dc9ae.211b38","name":"Synopsis Success","statusCode":"","headers":{},"x":1410,"y":293,"wires":[]},{"id":"2001c94d.f84d16","type":"switch","z":"786dc9ae.211b38","name":"Check the Result","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":910,"y":100,"wires":[["e67fc8f5.906a88"],["5a88743.313548c"]]},{"id":"e67fc8f5.906a88","type":"function","z":"786dc9ae.211b38","name":"Result JSON","func":"msg.payload = {data: \"fail\", msg: \"no data available\"};\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":80,"wires":[["e2336648.b7d678"]]},{"id":"e2336648.b7d678","type":"http response","z":"786dc9ae.211b38","name":"Synopsis Error","statusCode":"","headers":{},"x":1480,"y":80,"wires":[]},{"id":"bbc7597f.5c2458","type":"function","z":"d2dba767.74bcd8","name":"Redis HEXISTS params","func":"payload = msg.payload\nmsg.payload = [payload.ptId+'.'+payload.datatype, payload.sourceId];\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":100,"wires":[["c43af13b.d98ac"]]},{"id":"c43af13b.d98ac","type":"redis-command","z":"d2dba767.74bcd8","server":"a74d56bf.bad038","command":"hexists","name":"","topic":"","x":670,"y":100,"wires":[["426dfc7b.de69e4"]]},{"id":"426dfc7b.de69e4","type":"switch","z":"d2dba767.74bcd8","name":"Check the Result","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":870,"y":100,"wires":[["984c263c.9e8458"],["84765bfa.95e408"]]},{"id":"984c263c.9e8458","type":"function","z":"d2dba767.74bcd8","name":"Result JSON","func":"msg.payload = {data: \"fail\", msg: \"cannot find data to update\"};\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":80,"wires":[["e1376c76.4c7e9"]]},{"id":"e1376c76.4c7e9","type":"http response","z":"d2dba767.74bcd8","name":"Update Error","statusCode":"","headers":{},"x":1430,"y":80,"wires":[]},{"id":"84765bfa.95e408","type":"function","z":"d2dba767.74bcd8","name":"Success JSON","func":"msg.payload = {\n    result: \"exist\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":120,"wires":[["f0293b2a.e05308"]]},{"id":"f0293b2a.e05308","type":"join","z":"d2dba767.74bcd8","name":"Join Success Result","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":440,"y":180,"wires":[["8b4d181a.c25048"]]},{"id":"43a25e70.b666f","type":"function","z":"cd3c2dd1.84b6b","name":"Result JSON","func":"msg.payload = {data: \"fail\", msg: \"data doesn't exists\"};\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":73,"wires":[["e411331c.58cc8"]]},{"id":"533869c2.137238","type":"http in","z":"30a2050b.e916ca","name":"","url":"/patient/:ptId/vitalsigns","method":"post","upload":false,"swaggerDoc":"","x":140,"y":162,"wires":[["60541ee2.3bee"]]},{"id":"60541ee2.3bee","type":"change","z":"30a2050b.e916ca","name":"PostParams","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"ptId\": msg.req.params.ptId,\t    \"datatype\": \"vitalsigns\",\t    \"data\": msg.req.body.data\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":160,"wires":[["88d0f767.0de118"]]},{"id":"62f97aa3.c72ed4","type":"http in","z":"30a2050b.e916ca","name":"","url":"/patient/:ptId/vitalsigns/:sourceId","method":"get","upload":false,"swaggerDoc":"","x":170,"y":340,"wires":[["24053c4e.2cad44"]]},{"id":"24053c4e.2cad44","type":"change","z":"30a2050b.e916ca","name":"GetParams","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"ptId\": msg.req.params.ptId,\t    \"datatype\": \"vitalsigns\",\t    \"sourceId\": msg.req.params.sourceId,\t    \"transform\": msg.req.query.transform\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":340,"wires":[["551d750b.cd8aac"]]},{"id":"d1a2a92e.ebf6b8","type":"http in","z":"30a2050b.e916ca","name":"","url":"/patient/:ptId/vitalsigns/:sourceId","method":"put","upload":false,"swaggerDoc":"","x":170,"y":520,"wires":[["d0320e4b.5b918"]]},{"id":"d0320e4b.5b918","type":"change","z":"30a2050b.e916ca","name":"PutParams","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"ptId\": msg.req.params.ptId,\t    \"datatype\": \"vitalsigns\",\t    \"sourceId\": msg.req.params.sourceId,\t    \"data\": msg.req.body.data\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":519,"wires":[["b8b3644d.769638"]]},{"id":"acb2ad5a.9762d","type":"http in","z":"30a2050b.e916ca","name":"","url":"/patient/:ptId/vitalsigns/:sourceId","method":"delete","upload":false,"swaggerDoc":"","x":170,"y":700,"wires":[["d3f07d5f.0dcfc"]]},{"id":"d3f07d5f.0dcfc","type":"change","z":"30a2050b.e916ca","name":"DeleteParams","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"ptId\": msg.req.params.ptId,\t    \"datatype\": \"vitalsigns\",\t    \"sourceId\": msg.req.params.sourceId\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":700,"wires":[["fa59f2b.99d571"]]},{"id":"344b2e96.df36d2","type":"change","z":"30a2050b.e916ca","name":"PostParams","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"ptId\": msg.req.params.ptId,\t    \"data\": msg.req.body.data\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":1120,"wires":[["44eda9b4.c3f938"]]},{"id":"59c36c8f.9bd4e4","type":"http in","z":"30a2050b.e916ca","name":"","url":"/mpi/patient/:ptId","method":"post","upload":false,"swaggerDoc":"","x":120,"y":1120,"wires":[["344b2e96.df36d2"]]},{"id":"6ebfe191.0062e","type":"function","z":"371be9e2.14a596","name":"Redis HSET params","func":"payload = msg.payload;\nmsg.payload = ['patient', payload.ptId, JSON.stringify(payload.data)];\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":80,"wires":[["17e0f183.2263be"]]},{"id":"b842591e.c55ce8","type":"function","z":"371be9e2.14a596","name":"Redis SADD params","func":"payload = msg.payload;\nmsg.payload = ['patient.nameidx.' + payload.data.name.family, payload.ptId];\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":120,"wires":[["4a27080a.c23c58"]]},{"id":"17e0f183.2263be","type":"redis-command","z":"371be9e2.14a596","server":"a74d56bf.bad038","command":"hset","name":"","topic":"","x":670,"y":80,"wires":[["f7001eb1.4ec3d"]]},{"id":"f7001eb1.4ec3d","type":"function","z":"371be9e2.14a596","name":"Result JSON","func":"msg.payload = {\n    \"save_data\": true,\n};\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":80,"wires":[["743da9c8.853ed8"]]},{"id":"b82100b1.cb1e9","type":"http response","z":"371be9e2.14a596","name":"Create Success","statusCode":"","headers":{},"x":1420,"y":100,"wires":[]},{"id":"4a27080a.c23c58","type":"redis-command","z":"371be9e2.14a596","server":"a74d56bf.bad038","command":"sadd","name":"","topic":"","x":670,"y":120,"wires":[["dde6545f.e26588"]]},{"id":"dde6545f.e26588","type":"function","z":"371be9e2.14a596","name":"Result JSON","func":"msg.payload = {\n    \"save_name\": true,\n};\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":120,"wires":[["743da9c8.853ed8"]]},{"id":"743da9c8.853ed8","type":"join","z":"371be9e2.14a596","name":"Join Results","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1170,"y":100,"wires":[["b82100b1.cb1e9"]]},{"id":"4594ddd9.595484","type":"http in","z":"30a2050b.e916ca","name":"","url":"/mpi/patient/:ptId","method":"put","upload":false,"swaggerDoc":"","x":120,"y":1200,"wires":[["ad3e8b39.829138"]]},{"id":"ad3e8b39.829138","type":"change","z":"30a2050b.e916ca","name":"PutParams","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"ptId\": msg.req.params.ptId,\t    \"data\": msg.req.body.data\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":1200,"wires":[["3c7bc234.58d58e"]]},{"id":"40c5c751.9f05c8","type":"function","z":"4cec1f44.07022","name":"Redis HGET params","func":"payload = msg.payload\nmsg.payload = ['patient', payload.ptId];\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":100,"wires":[["9dec1334.a7017"]]},{"id":"470ba156.9a2c","type":"join","z":"4cec1f44.07022","name":"Join Success Result","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":440,"y":200,"wires":[["896908ec.647228","439f6af.0350194"]]},{"id":"9dec1334.a7017","type":"redis-command","z":"4cec1f44.07022","server":"a74d56bf.bad038","command":"hget","name":"","topic":"","x":650,"y":100,"wires":[["5e083d0a.81bc34"]]},{"id":"5e083d0a.81bc34","type":"switch","z":"4cec1f44.07022","name":"Check the Result","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":100,"wires":[["26cc89fc.6b9b26"],["4cdeed19.5357e4"]]},{"id":"26cc89fc.6b9b26","type":"function","z":"4cec1f44.07022","name":"Result JSON","func":"msg.payload = {data: \"fail\", msg: \"cannot find data to update\"};\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":80,"wires":[["da5312f3.49edc"]]},{"id":"da5312f3.49edc","type":"http response","z":"4cec1f44.07022","name":"Update Error","statusCode":"","headers":{},"x":1410,"y":80,"wires":[]},{"id":"896908ec.647228","type":"function","z":"4cec1f44.07022","name":"Redis HSET params","func":"payload = msg.payload;\nmsg.payload = ['patient', payload.ptId, JSON.stringify(payload.data)];\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":180,"wires":[["3809f2e6.e75ebe"]]},{"id":"439f6af.0350194","type":"function","z":"4cec1f44.07022","name":"Redis SADD params","func":"payload = msg.payload;\nmsg.payload = ['patient.nameidx.' + payload.data.name.family, payload.ptId];\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":220,"wires":[["4f3f9585.8f1b3c"]]},{"id":"4f3f9585.8f1b3c","type":"redis-command","z":"4cec1f44.07022","server":"a74d56bf.bad038","command":"sadd","name":"","topic":"","x":890,"y":220,"wires":[["9487d5d3.cab7c8"]]},{"id":"3809f2e6.e75ebe","type":"redis-command","z":"4cec1f44.07022","server":"a74d56bf.bad038","command":"hset","name":"","topic":"","x":890,"y":180,"wires":[["45218664.ea9398"]]},{"id":"45218664.ea9398","type":"function","z":"4cec1f44.07022","name":"Result JSON","func":"msg.payload = {\n    \"updated_data\": true,\n};\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":180,"wires":[["a64e54f0.2a90f8"]]},{"id":"9487d5d3.cab7c8","type":"function","z":"4cec1f44.07022","name":"Result JSON","func":"msg.payload = {\n    \"update_name\": true,\n};\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":220,"wires":[["a64e54f0.2a90f8"]]},{"id":"a64e54f0.2a90f8","type":"join","z":"4cec1f44.07022","name":"Join Results","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1250,"y":200,"wires":[["439a7ee3.6432a"]]},{"id":"439a7ee3.6432a","type":"http response","z":"4cec1f44.07022","name":"Update Success","statusCode":"","headers":{},"x":1440,"y":200,"wires":[]},{"id":"196be3fa.660a2c","type":"function","z":"ca535fa5.32dda","name":"Redis HDEL params","func":"payload = msg.payload;\nmsg.payload = ['patient', payload.ptId];\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":100,"wires":[["397cf9f5.677976"]]},{"id":"325fc8d2.2a9198","type":"change","z":"30a2050b.e916ca","name":"DeleteParams","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"ptId\": msg.req.params.ptId\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1240,"wires":[["650b91e4.f6ea4"]]},{"id":"f1732bb4.9cb6e8","type":"http in","z":"30a2050b.e916ca","name":"","url":"/mpi/patient/:ptId","method":"delete","upload":false,"swaggerDoc":"","x":130,"y":1240,"wires":[["325fc8d2.2a9198"]]},{"id":"397cf9f5.677976","type":"redis-command","z":"ca535fa5.32dda","server":"a74d56bf.bad038","command":"hdel","name":"","topic":"","x":650,"y":100,"wires":[["5e6d552d.67596c"]]},{"id":"5e6d552d.67596c","type":"switch","z":"ca535fa5.32dda","name":"Check the Result","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":100,"wires":[["5f7dbc71.78c8a4"],["7844eef3.2fc97"]]},{"id":"5f7dbc71.78c8a4","type":"function","z":"ca535fa5.32dda","name":"Result JSON","func":"msg.payload = {data: \"success\", msg: \"data deleted successfully\"};\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":80,"wires":[["5336b8e8.ccbd18"]]},{"id":"7844eef3.2fc97","type":"function","z":"ca535fa5.32dda","name":"Result JSON","func":"msg.payload = {data: \"fail\", msg: \"cannot delete data\"};\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":120,"wires":[["f9cf47a5.8038d8"]]},{"id":"5336b8e8.ccbd18","type":"http response","z":"ca535fa5.32dda","name":"Delete Success","statusCode":"","headers":{},"x":1280,"y":80,"wires":[]},{"id":"f9cf47a5.8038d8","type":"http response","z":"ca535fa5.32dda","name":"Delete Error","statusCode":"","headers":{},"x":1270,"y":120,"wires":[]},{"id":"d255fcf1.8657f","type":"function","z":"ca535fa5.32dda","name":"Redis HDEL params","func":"payload = msg.payload;\nmsg.payload = ['patient.name', payload.ptId];\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":140,"wires":[["7833e8a7.da5828"]]},{"id":"7833e8a7.da5828","type":"redis-command","z":"ca535fa5.32dda","server":"a74d56bf.bad038","command":"hdel","name":"","topic":"","x":650,"y":140,"wires":[[]]},{"id":"83587252.f90de","type":"http in","z":"30a2050b.e916ca","name":"","url":"/mpi/patient/:ptId","method":"get","upload":false,"swaggerDoc":"","x":120,"y":1160,"wires":[["fed5440b.7e7188"]]},{"id":"fed5440b.7e7188","type":"change","z":"30a2050b.e916ca","name":"GetParams","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"ptId\": msg.req.params.ptId\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":1160,"wires":[["86ec4eae.8a789"]]},{"id":"4a30d870.3170b8","type":"function","z":"246a5948.5d4366","name":"Redis HGET params","func":"payload = msg.payload\nmsg.payload = ['patient', payload.ptId];\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":100,"wires":[["6f022fb8.60d13"]]},{"id":"6f022fb8.60d13","type":"redis-command","z":"246a5948.5d4366","server":"a74d56bf.bad038","command":"hget","name":"","topic":"","x":470,"y":100,"wires":[["8df14f51.f962c"]]},{"id":"8df14f51.f962c","type":"switch","z":"246a5948.5d4366","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":100,"wires":[["822794c2.26e358"],["ea8ab58a.103778"]]},{"id":"822794c2.26e358","type":"function","z":"246a5948.5d4366","name":"Result JSON","func":"msg.payload = {data: \"fail\", msg: \"data doesn't exists\"};\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":73,"wires":[["ac505747.60c5d8"]]},{"id":"ac505747.60c5d8","type":"http response","z":"246a5948.5d4366","name":"GET Data Error","statusCode":"","headers":{},"x":1220,"y":73,"wires":[]},{"id":"ea8ab58a.103778","type":"json","z":"246a5948.5d4366","name":"Database JSON","property":"payload","action":"","pretty":true,"x":900,"y":120,"wires":[["f5db1b66.0ddad8"]]},{"id":"f5db1b66.0ddad8","type":"http response","z":"246a5948.5d4366","name":"GET Success","statusCode":"","headers":{},"x":1220,"y":120,"wires":[]},{"id":"afb4e762.1ad748","type":"http in","z":"30a2050b.e916ca","name":"","url":"/patient/:ptId/synopsis/vitalsigns","method":"get","upload":false,"swaggerDoc":"","x":160,"y":1060,"wires":[["aa5557e0.cab898"]]},{"id":"aa5557e0.cab898","type":"change","z":"30a2050b.e916ca","name":"GetParams","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"ptId\": msg.req.params.ptId,\t    \"datatype\": \"vitalsigns\"\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":1060,"wires":[["4358403.3a059c"]]},{"id":"58760ebb.d703b","type":"http in","z":"30a2050b.e916ca","name":"","url":"/patient/:ptId/vitalsigns","method":"get","upload":false,"swaggerDoc":"","x":130,"y":760,"wires":[["a0b38ca5.80a66"]]},{"id":"a0b38ca5.80a66","type":"change","z":"30a2050b.e916ca","name":"GetParams","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"ptId\": msg.req.params.ptId,\t    \"datatype\": \"vitalsigns\"\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":760,"wires":[["ac85f545.7d5298"]]},{"id":"8fd10aee.9a1868","type":"function","z":"61f1dc28.b2f5a4","name":"Redis HGETALL params","func":"payload = msg.payload\nmsg.payload = [payload.ptId+'.'+payload.datatype];\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":140,"wires":[["7a589eaa.f9c64"]]},{"id":"7a589eaa.f9c64","type":"redis-command","z":"61f1dc28.b2f5a4","server":"a74d56bf.bad038","command":"hgetall","name":"","topic":"","x":390,"y":140,"wires":[["7339210d.ee66"]]},{"id":"7339210d.ee66","type":"switch","z":"61f1dc28.b2f5a4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":140,"wires":[["8cb39d0c.17986"],["64d0dbe0.7cf484"]]},{"id":"8cb39d0c.17986","type":"function","z":"61f1dc28.b2f5a4","name":"Result JSON","func":"msg.payload = {data: \"fail\", msg: \"data doesn't exists\"};\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":80,"wires":[["793e1f1.2ab03e"]]},{"id":"793e1f1.2ab03e","type":"http response","z":"61f1dc28.b2f5a4","name":"GET Data Error","statusCode":"400","headers":{},"x":940,"y":80,"wires":[]},{"id":"64d0dbe0.7cf484","type":"function","z":"61f1dc28.b2f5a4","name":"Generate VitalSigns List","func":"payload = msg.payload;\n\nmsg.payload = [];\n\nObject.values(payload).forEach(value => {\n  msg.payload.push(JSON.parse(value));\n});\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":160,"wires":[["abd93591.88a2c8"]]},{"id":"abd93591.88a2c8","type":"http response","z":"61f1dc28.b2f5a4","name":"Synopsis List Success","statusCode":"","headers":{},"x":1100,"y":160,"wires":[]},{"id":"23650bd9.b59f64","type":"http in","z":"30a2050b.e916ca","name":"","url":"/mpi/patient","method":"get","upload":false,"swaggerDoc":"","x":100,"y":1300,"wires":[["a9368ce1.78b2"]]},{"id":"e8f4181e.840cf8","type":"function","z":"2f6a30d4.0662e","name":"Redis KEYS params","func":"\nvar ptName = msg.req.query.name ? msg.req.query.name : '';\nmsg.payload = [\"patient.nameidx.*\"+ptName+\"*\"];\nglobal.set('ptIds', []);\nglobal.set('patientList', []);\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":160,"wires":[["519e52fc.49da7c"]]},{"id":"519e52fc.49da7c","type":"redis-command","z":"2f6a30d4.0662e","server":"a74d56bf.bad038","command":"keys","name":"","topic":"","x":550,"y":160,"wires":[["aa904ab0.5291e8"]]},{"id":"57b1f1de.601d4","type":"function","z":"2f6a30d4.0662e","name":"Iterate Keys","func":"var keys = global.get('keys');\nvar itr = global.get('itr');\n\nif (itr < keys.length) {\n    msg.payload = [keys[itr]];\n    return msg;\n}\n\nmsg.payload = 'finished';\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":160,"wires":[["ab1d32d3.a9238"]]},{"id":"70748ced.45e504","type":"redis-command","z":"2f6a30d4.0662e","server":"a74d56bf.bad038","command":"smembers","name":"","topic":"","x":850,"y":80,"wires":[["d36447e9.6eedf8"]]},{"id":"d36447e9.6eedf8","type":"function","z":"2f6a30d4.0662e","name":"Add Patient Ids","func":"curIds = global.get('ptIds');\ncurIds = curIds.concat(msg.payload);\nglobal.set('ptIds', curIds);\nglobal.set('itr', global.get('itr') + 1);\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":80,"wires":[["57b1f1de.601d4"]]},{"id":"ab1d32d3.a9238","type":"switch","z":"2f6a30d4.0662e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"finished","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1150,"y":160,"wires":[["70748ced.45e504"],["9038e419.8c5688"]]},{"id":"61478f35.53c78","type":"function","z":"2f6a30d4.0662e","name":"Iterate Patient Ids","func":"\nptIds = global.get('ptIds');\nitr = global.get('itr');\n\nif (itr < ptIds.length) {\n    msg.payload = [\"patient\", ptIds[itr]];\n    return msg;\n}\n\nmsg.payload = 'finished';\nreturn msg;","outputs":1,"noerr":0,"x":1550,"y":260,"wires":[["e0a1ba56.162348"]]},{"id":"e0a1ba56.162348","type":"switch","z":"2f6a30d4.0662e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"finished","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1730,"y":260,"wires":[["3c77cd7b.e6f9d2"],["cb480270.dbf62"]]},{"id":"3c77cd7b.e6f9d2","type":"redis-command","z":"2f6a30d4.0662e","server":"a74d56bf.bad038","command":"hget","name":"","topic":"","x":1390,"y":120,"wires":[["ddb62802.e2ac68"]]},{"id":"ddb62802.e2ac68","type":"switch","z":"2f6a30d4.0662e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":1530,"y":120,"wires":[["b2fd32a6.c650e"]]},{"id":"b2fd32a6.c650e","type":"json","z":"2f6a30d4.0662e","name":"Database JSON","property":"payload","action":"","pretty":true,"x":1680,"y":120,"wires":[["41e6d65e.1a1008"]]},{"id":"41e6d65e.1a1008","type":"function","z":"2f6a30d4.0662e","name":"Add Patient Data","func":"\npatientList = global.get('patientList');\n\npatientList.push(msg.payload);\n\nglobal.set('patientList', patientList);\n\nglobal.set('itr', global.get('itr') + 1);\n\nreturn msg;","outputs":1,"noerr":0,"x":1890,"y":120,"wires":[["61478f35.53c78"]]},{"id":"cb480270.dbf62","type":"function","z":"2f6a30d4.0662e","name":"Result JSON","func":"msg.payload = global.get('patientList');\nreturn msg;","outputs":1,"noerr":0,"x":1910,"y":260,"wires":[["3626a779.da45b8"]]},{"id":"3626a779.da45b8","type":"http response","z":"2f6a30d4.0662e","name":"GET Patient List","statusCode":"","headers":{},"x":2100,"y":260,"wires":[]},{"id":"aa904ab0.5291e8","type":"function","z":"2f6a30d4.0662e","name":"Initialize Loop","func":"global.set('itr', 0);\nglobal.set('keys', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":160,"wires":[["57b1f1de.601d4"]]},{"id":"9038e419.8c5688","type":"function","z":"2f6a30d4.0662e","name":"Initialize Loop","func":"global.set('itr', 0);\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":260,"wires":[["61478f35.53c78"]]},{"id":"47e5470f.f465d8","type":"http in","z":"30a2050b.e916ca","name":"","url":"/patient/:ptId/allergies","method":"get","upload":false,"swaggerDoc":"","x":130,"y":800,"wires":[["4579d9d1.9c0208"]]},{"id":"34537797.69ac78","type":"http in","z":"30a2050b.e916ca","name":"","url":"/patient/:ptId/medications","method":"get","upload":false,"swaggerDoc":"","x":140,"y":840,"wires":[["b913ac01.59e31"]]},{"id":"8df513af.06d97","type":"http in","z":"30a2050b.e916ca","name":"","url":"/patient/:ptId/problems","method":"get","upload":false,"swaggerDoc":"","x":130,"y":880,"wires":[["c66d0a74.479668"]]},{"id":"4579d9d1.9c0208","type":"change","z":"30a2050b.e916ca","name":"GetParams","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"ptId\": msg.req.params.ptId,\t    \"datatype\": \"allergies\"\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":800,"wires":[["72f86e46.171e5"]]},{"id":"b913ac01.59e31","type":"change","z":"30a2050b.e916ca","name":"GetParams","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"ptId\": msg.req.params.ptId,\t    \"datatype\": \"medications\"\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":840,"wires":[["145c638e.f5395c"]]},{"id":"c66d0a74.479668","type":"change","z":"30a2050b.e916ca","name":"GetParams","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"ptId\": msg.req.params.ptId,\t    \"datatype\": \"problems\"\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":880,"wires":[["4036d44d.e59ecc"]]},{"id":"4705696d.bbeae8","type":"inject","z":"24302e84.4da702","name":"Allergies List Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":720,"wires":[["c9e94d16.f9f6"]]},{"id":"f52ca96.82df058","type":"http request","z":"24302e84.4da702","name":"GET Allergies List","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":830,"y":720,"wires":[["126a8ea3.8bca91"]]},{"id":"81f96fe8.d5326","type":"inject","z":"24302e84.4da702","name":"Problems List Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":760,"wires":[["7da59d19.8ea424"]]},{"id":"17ae9f5.0668d61","type":"http request","z":"24302e84.4da702","name":"GET Problems List","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":830,"y":760,"wires":[["126a8ea3.8bca91"]]},{"id":"89c3e812.f698a8","type":"inject","z":"24302e84.4da702","name":"Medications List Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":800,"wires":[["4ba23497.4510ec"]]},{"id":"1a3ac125.ecceaf","type":"http request","z":"24302e84.4da702","name":"GET Medications List","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":840,"y":800,"wires":[["126a8ea3.8bca91"]]},{"id":"6f8a668d.6016e8","type":"change","z":"24302e84.4da702","name":"Method is GET","rules":[{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":180,"wires":[["f9d4577b.03fd58"]]},{"id":"ea687bc3.b9daf8","type":"function","z":"24302e84.4da702","name":"Create API Route","func":"msg.url = 'http://127.0.0.1:1880/patient/' + global.get('patientID') + '/synopsis/allergies';\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":180,"wires":[["6f8a668d.6016e8"]]},{"id":"309c816c.6fc4be","type":"function","z":"24302e84.4da702","name":"Create API Route","func":"msg.url = 'http://127.0.0.1:1880/patient/' + global.get('patientID') + '/synopsis/medications';\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":220,"wires":[["59ce625b.4c122c"]]},{"id":"59ce625b.4c122c","type":"change","z":"24302e84.4da702","name":"Method is GET","rules":[{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":220,"wires":[["92306477.3048c8"]]},{"id":"3dc2f8a9.e29b48","type":"function","z":"24302e84.4da702","name":"Create API Route","func":"msg.url = 'http://127.0.0.1:1880/patient/' + global.get('patientID') + '/synopsis/problems';\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":260,"wires":[["7290d62d.c66cc8"]]},{"id":"7290d62d.c66cc8","type":"change","z":"24302e84.4da702","name":"Method is GET","rules":[{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":260,"wires":[["763da497.59049c"]]},{"id":"7a0e4e6b.3e806","type":"function","z":"24302e84.4da702","name":"Create API Route","func":"msg.url = 'http://127.0.0.1:1880/patient/' + global.get('patientID') + '/synopsis/vitalsigns';\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":300,"wires":[["eae229c5.0e8978"]]},{"id":"eae229c5.0e8978","type":"change","z":"24302e84.4da702","name":"Method is GET","rules":[{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":300,"wires":[["7d9d4b55.d6c204"]]},{"id":"d5061707.c53e38","type":"function","z":"24302e84.4da702","name":"Create API Route","func":"msg.url = 'http://127.0.0.1:1880/patient/' + global.get('patientID') + '/allergies/fdmnsuemhu77scaa87ud8';\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":360,"wires":[["88a2ee16.e9cf2"]]},{"id":"88a2ee16.e9cf2","type":"change","z":"24302e84.4da702","name":"Method is GET","rules":[{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":360,"wires":[["515011a6.5a9f5"]]},{"id":"ea20296f.1fdce8","type":"function","z":"24302e84.4da702","name":"Create API Route","func":"msg.url = 'http://127.0.0.1:1880/patient/' + global.get('patientID') + '/medications/0ndpc1dvqagapo0oui3num';\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":400,"wires":[["648e740c.b4759c"]]},{"id":"648e740c.b4759c","type":"change","z":"24302e84.4da702","name":"Method is GET","rules":[{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":400,"wires":[["91f003c5.5cd89"]]},{"id":"3f276363.d3cb2c","type":"function","z":"24302e84.4da702","name":"Create API Route","func":"msg.url = 'http://127.0.0.1:1880/patient/' + global.get('patientID') + '/problems/kb6q8h0zucjx8nuov7h8';\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":440,"wires":[["1c078090.416cef"]]},{"id":"1c078090.416cef","type":"change","z":"24302e84.4da702","name":"Method is GET","rules":[{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":440,"wires":[["cea652e9.d0bf8"]]},{"id":"ca329fd2.5aa8b","type":"function","z":"24302e84.4da702","name":"Create API Route","func":"msg.url = 'http://127.0.0.1:1880/mpi/patient/' + global.get('patientID');\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":520,"wires":[["715e2d4f.655444"]]},{"id":"715e2d4f.655444","type":"change","z":"24302e84.4da702","name":"Method is GET","rules":[{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":520,"wires":[["c353517a.0b61b"]]},{"id":"22342e69.ef0382","type":"function","z":"24302e84.4da702","name":"Create API Route","func":"msg.url = 'http://127.0.0.1:1880/patient/' + global.get('patientID') + '/vitalsigns/s853d3jdfddvf89xni0cf';\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":480,"wires":[["e810715b.a5cc6"]]},{"id":"e810715b.a5cc6","type":"change","z":"24302e84.4da702","name":"Method is GET","rules":[{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":480,"wires":[["1f7837af.52a6f8"]]},{"id":"c9e94d16.f9f6","type":"function","z":"24302e84.4da702","name":"Create API Route","func":"msg.url = 'http://127.0.0.1:1880/patient/' + global.get('patientID') + '/allergies';\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":720,"wires":[["38ca8c71.c97f04"]]},{"id":"38ca8c71.c97f04","type":"change","z":"24302e84.4da702","name":"Method is GET","rules":[{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":720,"wires":[["f52ca96.82df058"]]},{"id":"7da59d19.8ea424","type":"function","z":"24302e84.4da702","name":"Create API Route","func":"msg.url = 'http://127.0.0.1:1880/patient/' + global.get('patientID') + '/problems';\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":760,"wires":[["7d4ff070.c4377"]]},{"id":"7d4ff070.c4377","type":"change","z":"24302e84.4da702","name":"Method is GET","rules":[{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":760,"wires":[["17ae9f5.0668d61"]]},{"id":"4ba23497.4510ec","type":"function","z":"24302e84.4da702","name":"Create API Route","func":"msg.url = 'http://127.0.0.1:1880/patient/' + global.get('patientID') + '/medications';\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":800,"wires":[["f6a36380.a6d4a"]]},{"id":"f6a36380.a6d4a","type":"change","z":"24302e84.4da702","name":"Method is GET","rules":[{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":800,"wires":[["1a3ac125.ecceaf"]]},{"id":"ff596a84.b16ce8","type":"function","z":"24302e84.4da702","name":"Create API Route","func":"msg.url = 'http://127.0.0.1:1880/patient/' + global.get('patientID') + '/vitalsigns';\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":840,"wires":[["b824e05.e50532"]]},{"id":"b824e05.e50532","type":"change","z":"24302e84.4da702","name":"Method is GET","rules":[{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":840,"wires":[["97b2a2aa.99d27"]]},{"id":"1c85c37.8ffa43d","type":"redis-command","z":"4cec1f44.07022","server":"a74d56bf.bad038","command":"srem","name":"","topic":"","x":1450,"y":120,"wires":[["43d4fad0.d8c464"]]},{"id":"8e4e306f.c8c78","type":"function","z":"4cec1f44.07022","name":"Redis HREM params","func":"payload = msg.payload;\nmsg.payload = ['patient.nameidx.' + payload.name.family, payload.id];\nreturn msg;","outputs":1,"noerr":0,"x":1260,"y":120,"wires":[["1c85c37.8ffa43d"]]},{"id":"43d4fad0.d8c464","type":"function","z":"4cec1f44.07022","name":"Success JSON","func":"msg.payload = {\n    result: \"exist\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1640,"y":120,"wires":[["470ba156.9a2c"]]},{"id":"4cdeed19.5357e4","type":"json","z":"4cec1f44.07022","name":"Database JSON","property":"payload","action":"","pretty":true,"x":1060,"y":120,"wires":[["8e4e306f.c8c78"]]},{"id":"badc895a.560a78","type":"subflow:472870ff.af781","z":"30a2050b.e916ca","name":"","env":[],"x":700,"y":40,"wires":[]},{"id":"cc656e0e.f80fe","type":"subflow:472870ff.af781","z":"30a2050b.e916ca","name":"","env":[],"x":700,"y":80,"wires":[]},{"id":"f7fedd95.b6c6a","type":"subflow:472870ff.af781","z":"30a2050b.e916ca","name":"","env":[],"x":700,"y":120,"wires":[]},{"id":"88d0f767.0de118","type":"subflow:472870ff.af781","z":"30a2050b.e916ca","name":"","env":[],"x":700,"y":160,"wires":[]},{"id":"15ae8090.61fe5f","type":"function","z":"cd3c2dd1.84b6b","name":"SubFlow Input","func":"\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":140,"wires":[["8024a1d7.a51cd","15f081c7.c3a59e"]]},{"id":"cc290731.5aee28","type":"subflow:cd3c2dd1.84b6b","z":"30a2050b.e916ca","name":"","env":[],"x":690,"y":220,"wires":[]},{"id":"be04ca35.974688","type":"subflow:cd3c2dd1.84b6b","z":"30a2050b.e916ca","name":"","env":[],"x":690,"y":260,"wires":[]},{"id":"d0f4a385.0b809","type":"subflow:cd3c2dd1.84b6b","z":"30a2050b.e916ca","name":"","env":[],"x":690,"y":300,"wires":[]},{"id":"551d750b.cd8aac","type":"subflow:cd3c2dd1.84b6b","z":"30a2050b.e916ca","name":"","env":[],"x":690,"y":340,"wires":[]},{"id":"bc9356f7.433be8","type":"function","z":"d2dba767.74bcd8","name":"Subflow Input","func":"\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":140,"wires":[["bbc7597f.5c2458","f0293b2a.e05308"]]},{"id":"7c1991d1.fcf9d","type":"subflow:d2dba767.74bcd8","z":"30a2050b.e916ca","name":"","env":[],"x":700,"y":400,"wires":[]},{"id":"7d7dc6f2.3bdd78","type":"subflow:d2dba767.74bcd8","z":"30a2050b.e916ca","name":"","env":[],"x":700,"y":440,"wires":[]},{"id":"13bc2270.72968e","type":"subflow:d2dba767.74bcd8","z":"30a2050b.e916ca","name":"","env":[],"x":700,"y":480,"wires":[]},{"id":"b8b3644d.769638","type":"subflow:d2dba767.74bcd8","z":"30a2050b.e916ca","name":"","env":[],"x":700,"y":520,"wires":[]},{"id":"b1579e2a.7e7b5","type":"subflow:9600a946.c0f438","z":"30a2050b.e916ca","x":690,"y":580,"wires":[]},{"id":"bc090203.14081","type":"subflow:9600a946.c0f438","z":"30a2050b.e916ca","x":690,"y":620,"wires":[]},{"id":"26f86dd5.872a62","type":"subflow:9600a946.c0f438","z":"30a2050b.e916ca","x":690,"y":660,"wires":[]},{"id":"fa59f2b.99d571","type":"subflow:9600a946.c0f438","z":"30a2050b.e916ca","x":690,"y":700,"wires":[]},{"id":"6d586304.fd73fc","type":"function","z":"786dc9ae.211b38","name":"SubFlow Input","func":"\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":200,"wires":[["7628f6f1.807bc8","548ea1a5.e18da","f8ecd19e.3b219"]]},{"id":"34989da4.695a72","type":"subflow:786dc9ae.211b38","z":"30a2050b.e916ca","name":"","env":[],"x":670,"y":940,"wires":[]},{"id":"99c6f8dd.317e98","type":"subflow:786dc9ae.211b38","z":"30a2050b.e916ca","x":670,"y":980,"wires":[]},{"id":"9cec63ff.c0c25","type":"subflow:786dc9ae.211b38","z":"30a2050b.e916ca","x":670,"y":1020,"wires":[]},{"id":"4358403.3a059c","type":"subflow:786dc9ae.211b38","z":"30a2050b.e916ca","x":670,"y":1060,"wires":[]},{"id":"ac85f545.7d5298","type":"subflow:61f1dc28.b2f5a4","z":"30a2050b.e916ca","x":680,"y":760,"wires":[]},{"id":"72f86e46.171e5","type":"subflow:61f1dc28.b2f5a4","z":"30a2050b.e916ca","x":680,"y":800,"wires":[]},{"id":"145c638e.f5395c","type":"subflow:61f1dc28.b2f5a4","z":"30a2050b.e916ca","x":680,"y":840,"wires":[]},{"id":"4036d44d.e59ecc","type":"subflow:61f1dc28.b2f5a4","z":"30a2050b.e916ca","x":680,"y":880,"wires":[]},{"id":"d3282f8b.c8b5c","type":"function","z":"371be9e2.14a596","name":"Subflow Input","func":"\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":100,"wires":[["6ebfe191.0062e","b842591e.c55ce8"]]},{"id":"44eda9b4.c3f938","type":"subflow:371be9e2.14a596","z":"30a2050b.e916ca","x":680,"y":1120,"wires":[]},{"id":"86ec4eae.8a789","type":"subflow:246a5948.5d4366","z":"30a2050b.e916ca","x":680,"y":1160,"wires":[]},{"id":"23df796b.676406","type":"function","z":"4cec1f44.07022","name":"Subflow Input","func":"\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":140,"wires":[["40c5c751.9f05c8","470ba156.9a2c"]]},{"id":"3c7bc234.58d58e","type":"subflow:4cec1f44.07022","z":"30a2050b.e916ca","x":690,"y":1200,"wires":[]},{"id":"907c11fa.585d3","type":"function","z":"ca535fa5.32dda","name":"SubFlow Input","func":"\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":100,"wires":[["196be3fa.660a2c","d255fcf1.8657f"]]},{"id":"650b91e4.f6ea4","type":"subflow:ca535fa5.32dda","z":"30a2050b.e916ca","x":680,"y":1240,"wires":[]},{"id":"a9368ce1.78b2","type":"subflow:2f6a30d4.0662e","z":"30a2050b.e916ca","x":690,"y":1300,"wires":[]}]